@import compass/utilities
@import compass/layout
@import compass/css3

@import partials/classes
@import partials/variables
@import partials/typography
@import partials/color
@import partials/corners

#footer
	background: #161616
	border-top: 4px solid #000
	border-left: 1px solid #000
	border-right: 1px solid #000
	.center
		//@extend .center-container
		@extend .box
		@extend .clearfix
		@extend .font-base
		position: relative
		width: $center-width
		min-height: 200px
		margin: 0 auto
		padding: 20px 0 0 0
		.content
			@extent .box
			//@extend .bg-gradient-gray-light
			@extend .corner-all
			@extend .clearfix
			width: 600px
			margin: 0 auto 0 250px
			padding: 0
			height: 100px
			.column
				@extend .box
				position: relative
				+float-left
				max-width: 150px
				min-height: 80px
				margin: 10px 0 24px 24px
				padding: 0 15px 15px 15px
				background: transparent
				border-left: 1px solid $gray-dark
				h4
					@extend .font-base
					position: relative
					margin: 0 0 .5em 0
					color: $footer-title
					font-size: 13px
					font-weight: bold
					//text-transform: uppercase
					word-spacing: .1em
					letter-spacing: .05em
				a
					@extend .font-base
					display: block
					margin: 0 0 .3em 0
					color: $footer-link
					font-size: 13px
					font-weight: 200
					text-decoration: none
					&:hover
						color: $footer-link-hover