- @title = " | Services"
- @subtitle = " | Security Consulting"
- @body_class = "three"

- @sub0 = ["Security Consulting", "/security"]
- @sub1 = ["Security Consulting", "/security"]
- @sub2 = ["Guard / Bodyguard", "/guard"]
- @sub3 = ["Electronic Security", "/electronic"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
%script{:src => "javascripts/expandCollapse.js", :type => "text/javascript"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3-1.jpg"}



.body
  .center
    .content
      #three.sidebar.right
        .subnav
          %h1= "Our "+@sub0[0]
          .link
            %h5 
            %p
              %a{:href => @sub1[1]}
                =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => @sub2[1]}
                =@sub2[0]
          .link
            %h5 
            %p
              %a{:href => @sub3[1]}
                =@sub3[0]

      #three.main
        .content
          %a{:name => @sub0[1]}
          .section.no-image
            %h1=@sub0[0]
            %p 
              %b Consulting Services
            %p From global security audits and entering new markets abroad to helping your organization anticipate, analyze, and respond to crisis, ISF2I offers extensive security expertise tailored to your unique needs.

            %p 
              %b Entering New Markets Abroad  
            %p If you are considering entering a new market or establishing your business abroad, IFS2I Security Consulting provides technical assistance and expertise in safety, security, and business intelligence.

            %p 
              %b Preparing for International Trips and Relocation
            %p Current international unrest, security situations, and increasing concerns about crime, kidnappings, and personal security place new demands on employers working abroad. IFS2I Consulting LLC develops original, custom-made technical solutions to ensure safety and peace of mind.

            %p 
              %b Protecting Expatriates 
            %p 
              Increasing international criminal awareness makes it essential to understand all country-related risks while traveling or working abroad. Whether you're sending employees on international business trips or relocating them permanently, IFS2I Security Consulting provides the highest quality of:
              %br
              &mdash;	Prevention – Analysis of country-related risks and safety audits 
              %br
              &mdash;	Assistance – Passenger safety, physical protection and support, geolocation of staff and/or vehicles, event security, and more 
              %br
              &mdash;	Training – Preparation before starting your offshore business, business seminars, and risk prevention 


            %p 
              %b Protecting Property and Businesses
            %p In an increasingly insecure world, the safety of people and goods has become a top priority, especially in sensitive areas.

            %p 
              IFS2I Security Consulting offers: 
              %br
              &mdash;	Prevention such as security audits, security assistance to business owners, and security plan design
              %br
              &mdash;	Assistance including technical assistance, alarm and video surveillance equipment installation and maintenance, vulnerability testing, and quality control
              %br
              &mdash;	Crisis management such as platform crisis management, emergency evacuation, assistance to families, and more

            %p 
              %b Close Protection
            %p IFS2I Security Consulting is a leading provider of close protection in hostile environments and non-hostile missions. We provide well-organized close protection services while also serving you with the greatest respect for your privacy and the strictest confidence. Our close protection missions are available for international and domestic travel as well as at your place of work or residence. In short, if you need protection, we're committed to providing it.

            %p Our highly trained experts consist of both men and women who speak multiple languages. Using their knowledge of organizational and international security, logistics, and relations, our experts are highly qualified to perform risk assessments. Discreet, effective counselors are also available.

            %p 
              %b Protecting Information
            %p As the world becomes more aggressive and competitive than ever, IFS2I Security Consulting has collaborated with partners to develop proven and innovative tools to that allow companies to leverage and retain control of their intellectual property. The safety of people, goods, and information is now a vital part of any career or business plan, and we have the tools and expertise to ensure that protection.

            %p 
              %b Geolocation of People and Vehicles
            %p IFS2I offers the latest tracking technologies to improve the security of personal and business property, goods, employees, and even family members, allowing for real-time location in urban and degraded environments. Our security consultants provide you with a dedicated platform for each deployment. With a centralized, Internet-accessible tracking solution in place, your valuables can be monitored, tracked, and found. 

            %p 
              %b Accompaniment and Transfer
            %p IFS2I also offers accompaniment and transfer services. From a personal welcome at the airport and the acceleration of red tape to an armored car and a multilingual safety driver, we provide the accompaniment and transfer services required for safety and protection.

            %p
              Whether you need to protect people, goods, or property, we have a custom solution to match.
              %a{:href => "/contact"}Contact us
              today to learn more.
            