- @title = " | Services"
- @subtitle = " | Security Consulting"
- @body_class = "three"

- @sub0 = ["Security Consulting", "/security"]
- @sub1 = ["sss", "sss"]
- @sub2 = ["sss", "sss"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
%script{:src => "javascripts/expandCollapse.js", :type => "text/javascript"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3-1.jpg"}



.body
  .center
    .content
      #three.sidebar
        / .subnav
        /   %h1=@sub0[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub1[1]}
        /         =@sub1[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub2[1]}
        /         =@sub2[0]
        .text
          %h1 Contact Us
          %p
            %img.flag{:src => "/images/flag_usa.jpg", :alt => "United States Flag"}
            %b In the US
            %br
            TEL: + 1 (713) 778 0790
            %br
            HOTLINE: + 1 (713) 213 4601
            %br
            MOBILE: +1 (713) 213 4601
            %br
            FAX: + 1 (832) 705 3435
            %br
            EMAIL:
            %a{:href => "mailto:office.us@ifs2i.com"} office.us@ifs2i.com
          %p
            7322 Southwest Freeway
            %br
            Arena Tower One, Suite 1970
            %br
            Houston TX, 77074 - USA

      #three.main
        .content
          %a{:name => @sub0[1]}
          .section.no-image
            %h1=@sub0[0]
            %p
              IFS2I Security Consulting have been helping businesses throughout their lifecycle from the very beginning to the top of the career by providing:
              %br
              &mdash; a global security audits, consulting engineering to anticipate, analyze and propose appropriate solutions
              %br
              &mdash; high expertise in control of crisis situation

            %h4 We can help you with:

            %a{:name => "hide1"}
            %p
              %b Entering a new market abroad:
            %p If you are interested in entering a new market or establishing your business abroad, IFS2I Security Consulting will help your efforts in safety, security, business intelligence and technical assistance.
            %p Current international situation and a growth of criminal awareness place new demands on employers working abroad. IFS2I Consulting LLC has developed original technical solutions to prepare the trips or relocation and to offer you peace of mind.
            #hide1{:style => "display:none"}
              %p We offer professional training of risk prevention especially oriented for business travelers to hostile zones
              %p
                By providing you with a report on county related risk, risk monitoring, security audit, investigation, special security staff providing, project management, professional security related training to your employees, crisis management, emergency evacuation, assistance in critical situation, etc. IFS2I Security Consulting provides you with
                %b prevention, assistance, training and crisis management.
            %p
              %a{:onclick => "return toggleMe('hide1')"} Expand / Hide
              

            .spacer
            %a{:name => "hide2"}
            %p
              %b Protect your expatriates:
            %p In a worldwide growing criminal awareness it is essentially important to be informed of a country related risk while raveling. IFS2I Security Consulting will provide with highest quality of: 
            %p
              PREVENTION
              %br
              Analysis of country related risk, safety audit
            %p
              ASSISTANCE
              %br
              Passenger Safety, physical protection and support, geolocation of your staff and/or vehicles, securing of events
            %p
              TRAINING
              %br
              Preparation before starting you business, business seminars and risk prevention
            
            #hide2{:style => "display:none"}
              %p The awareness session called "country risk" is custom built session based on a client's arrival to the country includes preventive safety instructions and logical behavior to adopt in case of incidents paying specific attention to cultural, geographical, religious and other details related to the country of visit.
              %p Our alerts, summaries and notes are targeted to the specific needs of business or personal travelers going abroad from their homeland so as to anticipate and minimize the risk associated with their movement and continuity of their mission. 
            %p
              %a{:onclick => "return toggleMe('hide2')"} Expand / Hide
              
              
            .spacer
            %a{:name => "hide3"}
            %p
              %b Protect your property and your business:
            %p   In a world increasingly insecure, the safety of people and goods has become part of any career plans in sensitive areas.
            %p
              IFS2I Security Consulting offers
              %b prevention
              (security audits, security assistance to business owners, security plan design),
              %b assistance
              (technical assistance, alarm and video surveillance equipment installation and maintenance, vulnerability test, quality control), and
              %b crisis management
              (platform crisis management, emergency evacuation, assistance to families, etc.).


            .spacer
            %a{:name => "hide4"}
            %p
              %b Protecting your information:
            %p In a world competitive and aggressive more then ever, IFS2I Consulting has developed in collaboration with its partners, a proven and innovative tools to enable companies to take advantage and to retain control of their intellectual property. The safety of people, their goods and their information has become part of any career and business plan. 
            #hide4{:style => "display:none"}
              %p
                PREVENTION
                %br
                Security Audit, Auditing Information Systems, Recruitment assistance, Survey of morality of the employee, Market Assessment, Study competitive operational, Unfair Competition, counterfeiting and parallel markets.
              %p
                ASSISTANCE
                %br
                Auditing and Protection of the image, Disputes & Litigation, Management of external and internal fraud attempts, Detection of wiretapping.
              %p
                TRAINING
                %br
                Initializing the business intelligence, Prevention, detection, investigation of internal fraud, Fight against money laundering, Risk Management records.
            %p
              %a{:onclick => "return toggleMe('hide4')"} Expand / Hide



            .spacer
            %a{:name => "hide5"}
            %p
              %b Close Protection:
            %p IFS2I Security Consulting is a leading provider of close protection in hostile environment and non-hostile missions support. IFS2I will organize your safety during your travel with a greatest respect for your privacy and the strictest confidence, as well as protection missions at a place of work or residence 

            %p  Our highly trained experts, both men and women, speak multiple languages and are carefully selected to perform risk assessments by using their knowledge in organization, logistic and relations. 

            %p  Our discreet and effective counselors are also available.
            



            .spacer
            %a{:name => "hide6"}
            %p
              %b Geolocation of people and vehicles:
            %p   To improve the security of your personal or business belongings, your goods, your employees or your family members, IFS2I Security Consulting provides you with a Latest technology tracking solutions to locate them in real time in both urban and degraded environment. Accessible via an Internet connection, a platform is dedicated to you for each deployment and centralizes all location-based mobile elements.  
            %p
              Accompanyment:
              %br 
              &mdash; Personal welcome at the airport
              %br 
              &mdash;Acceleration of red tape
            %p
              Transfer:
              %br 
              &mdash;Armored car
              %br 
              &mdash;Multilingual safety driver
              
