.font-helvetica, .container-setup, .body .center .content .lolb a.container, .body .center .content .lilb a.container, .body .center .content .rilb a.container, .body .center .content .rolb a.container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet, .font-base, .container-setup h3, .body .center .content .lolb a.container h3, .body .center .content .lilb a.container h3, .body .center .content .rilb a.container h3, .body .center .content .rolb a.container h3, .container-setup p.link, .body .center .content .lolb a.container p.link, .body .center .content .lilb a.container p.link, .body .center .content .rilb a.container p.link, .body .center .content .rolb a.container p.link {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e2c), to(#680000));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #dc2e2c, #680000);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
}

.bg-gradient-reverse {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#680000), to(#dc2e2c));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #680000, #dc2e2c);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#dad7cb), to(#efecde));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #dad7cb, #efecde);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-dark, endColorstr=$secondary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-dark, endColorstr=$secondary);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #dad7cb;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #dad7cb;
}

.corner-top-left {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}

.corner-top-right {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-top {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-right, .container-setup p.link, .body .center .content .lolb a.container p.link, .body .center .content .lilb a.container p.link, .body .center .content .rilb a.container p.link, .body .center .content .rolb a.container p.link {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-left {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-all, .container-setup, .body .center .content .lolb a.container, .body .center .content .lilb a.container, .body .center .content .rilb a.container, .body .center .content .rolb a.container {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.clearfix, .body, .body .center, .container-setup, .body .center .content .lolb a.container, .body .center .content .lilb a.container, .body .center .content .rilb a.container, .body .center .content .rolb a.container {
  zoom: 1;
}
.clearfix:before, .body:before, .body .center:before, .container-setup:before, .body .center .content .lolb a.container:before, .body .center .content .lilb a.container:before, .body .center .content .rilb a.container:before, .body .center .content .rolb a.container:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after, .body:after, .body .center:after, .container-setup:after, .body .center .content .lolb a.container:after, .body .center .content .lilb a.container:after, .body .center .content .rilb a.container:after, .body .center .content .rolb a.container:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.center-container, .body .center {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: white;
  border-left: 1px solid #dad7cb;
  border-right: 1px solid #dad7cb;
}

.box, .center-container, .body .center, .body, .container-setup, .body .center .content .lolb a.container, .body .center .content .lilb a.container, .body .center .content .rilb a.container, .body .center .content .rolb a.container, .container-setup h1, .body .center .content .lolb a.container h1, .body .center .content .lilb a.container h1, .body .center .content .rilb a.container h1, .body .center .content .rolb a.container h1, .container-setup h3, .body .center .content .lolb a.container h3, .body .center .content .lilb a.container h3, .body .center .content .rilb a.container h3, .body .center .content .rolb a.container h3, .container-setup p.link, .body .center .content .lolb a.container p.link, .body .center .content .lilb a.container p.link, .body .center .content .rilb a.container p.link, .body .center .content .rolb a.container p.link {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.opaque, .container-setup:hover, .body .center .content .lolb a.container:hover, .body .center .content .lilb a.container:hover, .body .center .content .rilb a.container:hover, .body .center .content .rolb a.container:hover {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.contact-form {
  overflow: hidden;
  margin-bottom: -23px;
}
.contact-form iframe {
  position: relative;
  top: -38px;
}

p {
  font-size: inherit;
  color: inherit;
}

b {
  color: black !important;
  font-weight: bold;
}

.font-helvetica, .container-setup, .body .center .content .lolb a.container, .body .center .content .lilb a.container, .body .center .content .rilb a.container, .body .center .content .rolb a.container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet, .font-base, .container-setup h3, .body .center .content .lolb a.container h3, .body .center .content .lilb a.container h3, .body .center .content .rilb a.container h3, .body .center .content .rolb a.container h3, .container-setup p.link, .body .center .content .lolb a.container p.link, .body .center .content .lilb a.container p.link, .body .center .content .rilb a.container p.link, .body .center .content .rolb a.container p.link {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e2c), to(#680000));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #dc2e2c, #680000);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
}

.bg-gradient-reverse {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#680000), to(#dc2e2c));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #680000, #dc2e2c);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#dad7cb), to(#efecde));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #dad7cb, #efecde);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-dark, endColorstr=$secondary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-dark, endColorstr=$secondary);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #dad7cb;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #dad7cb;
}

.corner-top-left {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}

.corner-top-right {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-top {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-right, .container-setup p.link, .body .center .content .lolb a.container p.link, .body .center .content .lilb a.container p.link, .body .center .content .rilb a.container p.link, .body .center .content .rolb a.container p.link {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-left {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-all, .container-setup, .body .center .content .lolb a.container, .body .center .content .lilb a.container, .body .center .content .rilb a.container, .body .center .content .rolb a.container {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.body {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.body .center {
  padding: 15px 0;
}
.body .center .content {
@extent .box;
  width: 900px;
  margin: 0 auto;
  padding: 0;
}
.body .center .content .lolb a.container {
  margin: 0px 29px 0 0;
  background: url(/images/home_lolb.jpg) right no-repeat;
}
.body .center .content .lilb a.container {
  margin: 0px 29px 0 0;
  background: transparent url(/images/home_lilb.jpg) no-repeat;
}
.body .center .content .rilb a.container {
  margin: 0px 29px 0 0;
  background: transparent url(/images/home_rilb.jpg) no-repeat;
}
.body .center .content .rolb a.container {
  margin: 0;
  background: transparent url(/images/home_rolb.jpg) no-repeat;
}

.container-setup, .body .center .content .lolb a.container, .body .center .content .lilb a.container, .body .center .content .rilb a.container, .body .center .content .rolb a.container {
  position: relative;
  display: inline;
  float: left;
  width: 202.5px;
  height: 200px;
  border: 1px solid #dad7cb;
  z-index: 20;
}
.container-setup h1, .body .center .content .lolb a.container h1, .body .center .content .lilb a.container h1, .body .center .content .rilb a.container h1, .body .center .content .rolb a.container h1 {
  font-family: "EmbedFont-1";
  position: absolute;
  top: 18px;
  left: 18px;
  margin: 0 22.5px 0 0;
  color: #ad1b1a;
  font-size: 24px;
  font-weight: 100;
}
.container-setup h3, .body .center .content .lolb a.container h3, .body .center .content .lilb a.container h3, .body .center .content .rilb a.container h3, .body .center .content .rolb a.container h3 {
  position: absolute;
  top: 65px;
  left: 18px;
  margin: 0 76px 12px 0;
  color: black;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.3em;
}
.container-setup p.link, .body .center .content .lolb a.container p.link, .body .center .content .lilb a.container p.link, .body .center .content .rilb a.container p.link, .body .center .content .rolb a.container p.link {
  position: absolute;
  bottom: 15px;
  left: 0;
  padding: 3px 1em 3px 30px;
  display: inline;
  color: white;
  background: #ad1b1a;
  font-size: 11px;
  font-weight: 200;
  text-decoration: none;
}
.container-setup:hover, .body .center .content .lolb a.container:hover, .body .center .content .lilb a.container:hover, .body .center .content .rilb a.container:hover, .body .center .content .rolb a.container:hover {
  text-decoration: none;
}

.middle h3 {
  top: 85px !important;
  margin-right: 130px !important;
}

.right h3 {
  top: 85px !important;
  margin-right: 130px !important;
}
