- @title = " | Presentation"
- @subtitle = ""
- @body_class = "two"

- @sub0 = ["Presentation", "presentation"]
- @sub1 = ["in Africa", "Africa"]
- @sub2 = ["in Russia", "Russia"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-2.jpg"}



.body
  .center
    .content
      #two.sidebar
        .subnav
          %h1=@sub0[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub1[1]}
                =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub2[1]}
                =@sub2[0]
        .text
          %h1 Contact Us
          %p
            %sub EMAIL
            %br
            %a{:href => "mailto:contact@ifs2i.com"} contact@ifs2i.com
            %br
            %sub FAX
            %br
            +33 4 26 00 73 41
            %br
            %sub TEL
            %br
            +7 925 858 58 94 (Russia)      

      #two.main
        .content
          .section.no-image
            %p IFS2I assures not only private military trainings in France and abroad, but also provides different services of property and people security in conflict zones, the instruction in shooting and the trainings of special structures in intervention techniques.
            %p We spread only the training courses and the protection service according to the legal norms, laws and agreements in force.
          
          .spacer
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p Strategically established in Western Africa and Northern Africa in the heart of territories where the protection of sites and humane convoys are of a great importance, IFS2I CONSULTING is also present in Algiers in ALGERIA and Cotonou the Republic of BENIN in order to bring its experience to the profit of more than 15 bordering countries. All IFS2I CONSULTING specialists in Africa come from various French army corps: Special forces, genius and logistics, administrations.

            %h4 Our Activities
            %p IFS2I AFRICA intervenes on the African and North-African continent mainly on 3 branches of industry:
            %p
              %b The Protection of People
              and Goods in conflict Areas:
              %br
              &mdash; The protection of the people (preparation of businesses trips, protection of authorities and families, etc.)
              %br
              &mdash; The protection of hot sites and motorized convoys of value
              %br
              &mdash; Analyses of risks in hostile environments and safety audits
              %br
              &mdash; Missions of air protection (protection of borders)
            %p 
              %b The marketing of electronic systems
              of safety to the profit of official services and privet organisms, IFS2I in Africa
              %br
              &mdash; Warning Systems (radio and telegraphic)
              %br
              &mdash; Fire Prevention systems sets
              %br
              &mdash; System of video monitoring on IP
              %br
              &mdash; Protection of the isolated worker
            %p
              %b Private military training Courses
              as well as Security Agents courses:
              %br
              &mdash; Improvement and Introductory course to the Protection of the goods and of privet people in hostile or semi-hostile environments, humanitarian anti-mining course, shooting, extreme medicine, telecommunications, techniques of close combat and so on.
              
              %h4 Our Customers
              %p Official governments and administrations, Services, ONG and humanitarian associations, companies of safety, industrialists, private individuals.

              %h4 Our Presence
              %p Algeria, Benign, Cameroon, Ivory Coast, Libya, Mauritania, Morocco, RD of Congo, Senegal, Togo, and Tunisia.

              
          .spacer
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p IFS2I CONSULTING develop and dynamize LANT-S from the first March of 2006 in order to represent its operational and pedagogical department in the Federation of Russia. LANT-S's offices are situated on 17 Nikolskaya Street&mdash;the prestigious Kremlin and Red Square neighbor street of the very heart of Moscow.
            
            %h4 Our Analysis
            %p With the enlargement of the European Union to the east, Russia becomes the very neighbor of this Union of 25 and constitute our pace of reference, the one where is built our common future.
            %p Getting nearer from the geographical point of view, Russia grows closer by its general political and economical evolution. From the disappearance of the Soviet Union at the end of the 1991, this country has known a real breakthrough that has contributed to its international and economical image. In parallel Russia become progressively the part of the union of the world economical institutions. Omni potential member of G7 of State Majors from the Evian summit it begins its negotiations of its adhesion of the World Commerce organization.
            %p Difficult Country, economics in transition, culture of security presented everywhere, Russia did not leave indifferent IFS2I CONSULTING one day in May of 2006.
            
            %h4 Our Activities
            %p
              %b LANT-S's activity with close cooperation with its local partners covers 4 principal sectors:
              %br
              &mdash; Security Agents & Security drivers training courses as well as different services of security of Companies
              %br
              &mdash; IFS2I in Russia Accompaniment and security providing to property and to persons
              %br
              &mdash; IFS2I in Russia Organization of participation in international events in the domain of security
              %br
              &mdash; IFS2I in Russia Training seminars on professional risks prevention for Companies

            %h4 LANT-S's Team
            %p
              %b LANT-S works in a close cooperation with its local partners:
              %br
              &mdash; Administrations, Training Centers, Lawers, Accountants, Interpreters, Tourism Agencies, Car rent agencies
              %br
              &mdash; IFS2I in Russia All our instructors in privet security have diplomas of Russian Institutes.
              %br
              &mdash; IFS2I in Russia Our consultants and security drivers are issued from different French or Russians Special Forces.
              
              .spacer