- @title = " | Close Personal Training"
- @subtitle = ""
- @body_class = "two"

- @sub0 = ["Close Personal Training", "cpt"]
- @sub1 = ["in France", "France"]
- @sub2 = ["in Russia", "Russia"]
- @sub3 = ["PSD & COHESION", "PSD"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
%script{:src => "javascripts/expandCollapse.js", :type => "text/javascript"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}



.body
  .center
    .content
      #three.sidebar
        .subnav
          %h1=@sub0[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub1[1]}
                =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub2[1]}
                =@sub2[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub3[1]}
                =@sub3[0]
        .text
          %h1 Contact Us
          %p
            %sub EMAIL
            %br
            %a{:href => "mailto:contact@ifs2i.com"} contact@ifs2i.com
            %br
            %sub FAX
            %br
            +33 4 26 00 73 41
            %br
            %sub TEL
            %br
            +7 925 858 58 94 (Russia)      

      #three.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %h4 Our Analysis
            %p In the personnel security area, a real situation reveals the exigency to resort to the help of professionals.
            %p During some years we work with French trainers of the highest competence. Everyone of them stands the selective recruitment test that is based on multiple interrogation criteria (trainer's patronage, significant life experience and references in the military and civil sphere, probationary work period,).
            %p All French trainers rise the level of their skills at our training center in Russia to guarantee the maximum of training course for our students.
              
            %h4 Our Methods
            %p The pedagogics methods proven by our bodyguard trainers, are made up of the theory and practice on the road alternation and at the different public or private places, and also of the candidate permanent evaluation by means the motivation and trust delegation support.
            %p We consider that the quality training is very important to gain the basic competence, and from this time all the work branches of the personnel Bodyguard acquire a stainless professionalism.
            
            %a{:name => "cFR"}
            %h4 Bodyguard Training Courses
            %p 
              Click each to expand details.
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cFR1')"} Level 1
              (3 weeks)
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cFR2')"} Level 2
              (5 weeks)
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cFR3')"} Level 3
              (long term course)
          .section.no-image#cFR1{:style => "display:none"}
            %h1 Bodyguard Training Course &ndash; Level 1
            %h4 Introduction
            %p
              %b Objective:
              This training course pursues an object to perfect skills or initiate a person (man or woman) having a good reference and wanting to work as a Security Agent or Bodyguard. Delivery of the professional certificate Bodyguard "SIA Card".
            %p
              %b Pre-conditions:
              The training course is open for all comers of the full legal age on conditions extracted from the bylaws:
              %br
              &mdash; Medical certificate of aptitude for sports of combat
              %br
              &mdash; Have no previous convictions
              %br
              &mdash; Valid driver license
            %p 
              %b Dates:
              04 July to 29 July, 2011
            %p
              %b Location:
              Paris, FRANCE
            %p
              %b Price:
              3110 &euro;
              %br
              Payment facilities, possibilities of financial assumption, 40 hours per week.
            %p
              %b Duration:
              4 weeks (140 hours)
            
            %h4 Program Details
            %p
              %b Protection of Personalities:
              %br
              &mdash; Analysis of terrorist operative mode, study of methods and riposte
              %br
              &mdash; Reminding of functions and duties of a bodyguard
              %br
              &mdash; Organizing a protective mission, an escort, a search and removal of ambiguous situations
              %br
              &mdash; Elaboration of an itinerary
              %br
              &mdash; Getting into and out of car
              %br
              &mdash; Waiting inside a covered parking or indoors
            %p  
              %b Infighting Techniques:
              %br
              &mdash; Preparation and physical and mental conditioning
              %br
              &mdash; Conflict regulation and disengagement procedures
              %br
              &mdash; Techniques of a hand to hand combat that are used during a personal protection
            %p
              %b Security Driving and Escorts:
              %br
              &mdash; Stress control in the situation of anti-aggression driving, special techniques and disengagement (all cars are prepared and equipped with special outfit and helmets)
              %br
              &mdash; Functions of opening cars and escort (cars/cycles)
              %br
              &mdash; Escort on the road, reflex of security and motorcade driving
              %br
              &mdash; Positioning of a car, distance of safety
            %p
              %b Shooting:
              %br
              &mdash; Manipulation of different hand arms that are used in a protective purpose, presentation and usage of many models
              %br
              &mdash; Usage of firearms protection, ammunition, personnel security equipment
              %br
              &mdash; Disassembling and reassembling, arm cleaning
              %br
              &mdash; Armed protection solo or in pair, techniques of fighting preparation.All the practical modules, gestures taught during the training course, are always repeated to master them
            %p
              %a{:onClick => "return toggleMe('cFR1')", :href => "#cFR"} Hide
          

          .section.no-image#cFR2{:style => "display:none"}
            %h1 Bodyguard Training Course &ndash; Level 2
            %h4 Introduction
            %p
              %b Objective:
              Initiation and skills improvement for any person (man or woman) of good morality wishing to follow with the Security Agent or Bodyguard Activity. Delivery of professional certification of Professional Bodyguard "SIA Card".
            %p
              %b Pre-conditions:
              The course is open to all kind of candidates under condition of presence of documents listed below:
              %br
              &mdash; Medical certificate with authorization to wrestling
              %br
              &mdash; Medical certificate for deep-sea diving
              %br
              &mdash; Valid driver license
            %p 
              %b Dates:
              04 July to 05 August, 2011
            %p
              %b Location:
              Paris, FRANCE
            %p
              %b Price:
              4000 &euro; (meals NOT included)
              %br
              4550 &euro; (meals included)
              %br
              Payment facilities, possibilities of financial assumption, 40 hours per week.
            %p
              %b Duration:
              5 weeks (200 hours)
            
            %h4 Program Details
            %p
              %b Protection of Personalities:
              %br
              &mdash; Analysis of the situation in case of hostage, prevention methods and measure
              %br
              &mdash; Role and function of the bodyguard
              %br
              &mdash; Organization of a mission of protection of escort
              %br
              &mdash; Itinerary tracing
              %br
              &mdash; Getting into and out of car
              %br
              &mdash; Parking inside a covered car park or in confined space
              %br
              &mdash; Security of sites
            %p  
              %b Techniques of Wrestling:
              %br
              &mdash; Physical and mental preparation; reconditioning
              %br
              &mdash; Management of a conflict and procedures of release
              %br
              &mdash; Techniques of body to body fights used in protection of people
            %p
              %b Prevention and the Protection of the Nautical Installations
              %br
              &mdash; Diving and safety materials in use
              %br
              &mdash; Sea and its dangers
              %br
              &mdash; Medical intervention in case of accident
              %br
              &mdash; Principles, methods and techniques of inspection of the immersed structures, plunged on wrecks
              %br
              &mdash; Techniques of subaqueous rounds of safety
              %br
              &mdash; Initiation with the methods and the techniques of building work in order to be able to apply them under water
              %br
              &mdash; Detection, analyzes, and treatment of various anomalies
              %br
              &mdash; Possibilities of improvement skills for those who already work as professional diver
            %p 
              %b Control and Security Escorts:
              %br
              &mdash; Management of the stress in situation of anti-aggression control
              %br
              &mdash; Roles of the vehicles openers and followers (cars/motor bikes)
              %br
              &mdash; Escort on road, reflex of safety and control in convoy
              %br
              &mdash; To equip a vehicle for a mission (rolled, category of shielding, means of communication, crew bodyguards, etc.)
              %br
              &mdash; Placement of a vehicle, security distances
            %p
              %b Shooting:
              %br
              &mdash; Handling of various handguns used in protection, presentation and use of several models
              %br
              &mdash; Ballistic protection used, individual ammunition
              %br
              &mdash; Disassembling and reassembling, maintenance of a weapon
              %br
              &mdash; Evolution with weapon in advanced configuration and operational scenarios
              %br
              &mdash; The armed protection in solo or binomial, techniques of reclad practiced in protection
            %p
              %a{:onClick => "return toggleMe('cFR2')", :href => "#cFR"} Hide
              
          .section.no-image#cFR3{:style => "display:none"}
            %h1 Bodyguard Training Course &ndash; Level 3
            %h4 Introduction
            %p
              %b Objective:
              This training course pursues an object to perfect skills or initiate a person (man or woman) having a good reference and wanting to work as a Security Agent or Bodyguard. Delivery of the professional certificate of Bodyguard "SIA Card".
            %p
              %b Pre-conditions:
              The training course is open for all comers of the full legal age on conditions extracted from the bylaws:
              %br
              &mdash; Medical certificate of aptitude for sports of combat
              %br
              &mdash; Have no previous convictions
              %br
              &mdash; Valid driver license
            %p 
              %b Dates:
              04 July to 19 August, 2011.
            %p
              %b Location:
              Paris, FRANCE
            %p
              %b Price:
              5810 &euro;
              %br
              Payment facilities, possibilities of financial assumption, 40 hours per week, certificates delivery at the end of the training course (Bodyguard "SIA Card," Private Service Driver (CPA 1), Security Diver Level 1)
            %p
              %b Duration:
              7 weeks (280 hours)
            
            %h4 Program Details
            %p
              %b Protection of Personalities:
              %br
              &mdash; Analysis of terrorist operative mode, study of methods and riposte
              %br
              &mdash; Reminding of functions and duties of a bodyguard
              %br
              &mdash; Organizing a protective mission, an escort, a search and removal of ambiguous situations
              %br
              &mdash; Elaboration of an itinerary
              %br
              &mdash; Getting into and out of a car
              %br
              &mdash; Waiting inside a covered parking or indoors
              %br
              &mdash; Security of sites
            %p  
              %b Infighting Techniques:
              %br
              &mdash; Preparation and physical and mental conditioning
              %br
              &mdash; Conflict regulation and disengagement procedures
              %br
              &mdash; Techniques of a hand to hand combat that are used during a personal protection
            %p  
              %b Navigation Installations Protection and Threat Prevention:
              %br
              &mdash; Usage of diving and security material
              %br
              &mdash; Sea and its risks (area, subversive acts, piracy)
              %br
              &mdash; Medical urgent help in case of a diving accident
              %br
              &mdash; Principles, methods and techniques of a submerged structures inspection, shipwreck diving
              %br
              &mdash; Techniques of an underwater security patrol
              %br
              &mdash; Initialization in the construction work's methods and techniques to be able to apply them under water
              %br
              &mdash; Detection, analysis and elimination of different anomalies
              %br
              &mdash; Possibilities for diving professionals to master their skills
              %br
              &mdash; Night diving and realization of the hull inspection
            %p
              %b Preparation of a Personal Protection Mission:
              %br
              &mdash; Administrative authorizations from the local authorized instances
              %br
              &mdash; Creation of a protective team
              %br
              &mdash; Work contract, declarations relative to the profession of a Bodyguard, theoretic approach to the social law
            %p 
              %b Security Driving and Escorts (CPA 1):
              %br
              &mdash; Stress control in the situation of anti-aggression driving, techniques and disengagement (all cars are prepared and equipped with special outfit and helmets)
              %br
              &mdash; Functions of opening cars and escort (cars/cycles)
              %br
              &mdash; Escort on the road, reflex of security and motorcade driving
              %br
              &mdash; Car preparation for executing the mission (fueling, armoring category, communication, bodyguard's equipment)
              %br
              &mdash; Position of a car, distance of safety
              %br
              &mdash; Checking of received knowledge and the delivery of the certificate Private Security Driver
            %p
              %b Shooting:
              %br
              &mdash; Manipulation of different hand arms that are used in a protective purpose, presentation and usage of many models
              %br
              &mdash; Usage of firearms protection, ammunition, personnel security equipment
              %br
              &mdash; Disassembling and reassembling, arm cleaning 
              %br
              &mdash; Maneuvering with arms on advanced configuration and making operative scenarios
              %br
              &mdash; Armed protection solo or in pair, techniques of fighting preparation
            %p
              %a{:onClick => "return toggleMe('cFR3')", :href => "#cFR"} Hide
              
          .spacer
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p Russia is known all over the world due to its strong tradition in the security sector. In this way, the public security omnipresent culture was formed in Russia. This particular experience is a key to our specific idea of fight against aggressors.
            %p 
              %b Now IFS2I CONSULTING is the one French company that spreads Private Defense training courses in the Russian Federation.
            %p The training courses of Security Agent and Bodyguards in hostile environment or Target removal are the courses of a high professional level, full of activities and very exigent to the physical and mental work; the purpose is to put our students in the stress situation that usually happen during the personnel protective mission in hot war places.
            
            %h4 Our Analysis
            %p With the enlargement of the European Union to the east, Russia becomes the very neighbor of this Union of 25 and constitute our pace of reference, the one where is built our common future.
            %p Getting nearer from the geographical point of view, Russia grows closer by its general political and economical evolution. From the disappearance of the Soviet Union at the end of the 1991, this country has known a real breakthrough that has contributed to its international and economical image. In parallel Russia become progressively the part of the union of the world economical institutions. Omni potential member of G7 of State Majors from the Evian summit it begins its negotiations of its adhesion of the World Commerce organization.
            %p Difficult Country, economics in transition, culture of security presented everywhere, Russia did not leave indifferent IFS2I CONSULTING one day in May of 2006.
            
            %h4 Our Spetznaz Experience
            %p Our center was created on the URSS time to form there different intervention structures of the ex-URSS (KGB, MVD, OMON, GROUP ALFA, etc.). Now our center is included in the most important base of Russian Privet Special Forces training; at the same time we receive the Special Forces structures from China, Israel, and the United States.
            %p The spreading training courses can be thematic or made up by our trainers to correspond exactly with your needs or your professional project. The protective mission preparation is done in individual or team way.
            %p Every year about 70-90 competent Security Agents take our courses to accomplish missions of property and people protection in hostile environment (Eastern Europe, Africa, the Middle East, and Southeast Asia).

            %a{:name => "cRU"}
            %h4 Bodyguard Training Courses
            %p 
              Click each to expand details.
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cRU1')"} Bodyguards in Hostile Zones
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cRU2')"} Bodyguards Contractors Intensives
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cRU3')"} Driving Security
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cRU4')"} Mine Clearing
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cRU5')"} Women Bodyguard
          .section.no-image#cRU1{:style => "display:none"}
            %h1 Bodyguards in Hostile Zones
            %h4 Introduction
            %p
              %b Objective:
              This PSD training course pursues an object to perfect skills or initiate a person wanting to work as a Security Agent or Bodyguard (Contractor) in hostile or semi-hostile environment on the international level. Protection of Property and People in a hot war places (Iraq, Afghanistan, Africa), Private Military Contractors.
            %p
              %b Pre-conditions:
              The training course is open to all comers (men or women) on conditions extracted from the bylaws:
              %br
              &mdash; Be aged more than 18 years old
              %br
              &mdash; Medical certificate of aptitude for diving activity
              %br
              &mdash; Medical certificate of aptitude for parachuting sport
              %br
              &mdash; 2 recent photos
              %br
              &mdash; Valid passport
            %p 
              %b Dates:
              From 01th to 30th June 2011
            %p
              %b Location:
              Moscow, RUSSIA &amp; Almaty, KAZAKHSTAN
            %p
              %b Price:
              5610 &euro; (Travel from France, accommodation, food, assurances, arms, materials, visits, outfit included in the price)
              %br
              To confirm your place 30% deposit is required.
            
            %h4 Program Details
            %p
              &mdash; English speaking trainers (Spetsnaz, Group Alfa, FSB)
              %br
              &mdash; "VIP" visit of Moscow within the last day of the training course
            
            %h4 Moscow Program (2 weeks)
            %p
              %b Protection in a Zone of Risk:
              %br
              &mdash; Analysis of terrorist operative mode
              %br
              &mdash; Reminding of functions and duties of a bodyguard
              %br
              &mdash; Organizing a protective mission, an escort, a search and removal of ambiguous situations
              %br
              &mdash; Elaboration of an itinerary
              %br
              &mdash; Getting into and out of car
              %br
              &mdash; Artisanal or Homemade Explosive Engines, mine clearing and indoors dangers removal techniques, procedures
              %br
              &mdash; Citizen and target removal (removal in a hostile or semi-hostile zone)
              %br
              &mdash; Security of sites and motorcades in a zone of hot war
              %br
              &mdash; Study of terrorist methods and riposte
            %p  
              %b Underwater Protection:
              %br
              &mdash; Regulation of the Security Diver profession
              %br
              &mdash; Usage of diving and security material
              %br
              &mdash; Sea and its risks (area, subversive acts, piracy)
              %br
              &mdash; Principles, methods and techniques of an submerged structures inspection
              %br
              &mdash; Techniques of underwater security patrol
              %br
              &mdash; Detection, analysis and elimination of different anomalies
            %p
              %b Prevention of Risk:
              %br
              &mdash; Description of a threat, typology of aggressors and aggressions
              %br
              &mdash; Mode of terrorist aggression
              %br
              &mdash; Car, hotel, conference hall check-up
              %br
              &mdash; Procedures and techniques of indoors dangers removal
              %br
              &mdash; Different electronic and video surveillance security systems
              %br
              &mdash; Procedures of the first help in a hostile environment, cardiac massage, evacuation, transportation
              %br
              &mdash; Self control and a behavioral autonomy in a stress situation
              %br
              &mdash; 800 meters parachuting jumping in a automatic way
              %br
              &mdash; Harmonious team-work, techniques and procedures of relationship holding in different escorts
              %br
              &mdash; Communicating exercises, negotiations
              %br
              &mdash; Decision-making and crisis settlement in the situation of stress
              %br
              &mdash; Development of the briefing and debriefing of the mission
            %p
              %b Infighting Techniques:
              %br
              &mdash; Initiation and improvement of a hand to hand combat, disengagement
              %br
              &mdash; Skills in knife and other arms handling
              %br
              &mdash; Capture and neutralization (SPETZNATZ techniques)
              
            %h4 Almaty Program (2 weeks)
            %p
              %b Tactical Driving &amp; Escort:
              %br
              &mdash; Control of stress situations, techniques and disengagement
              %br
              &mdash; Functions of opening cars and escort (cars/cycles)
              %br
              &mdash; Escort on the road, reflex of security and motorcade driving
              %br
              &mdash; Car preparation for executing the mission (fuelling, armoring category, communication, Bodyguard equipment, etc.)
              %br
              &mdash; Classification of armoring categories and its weak points
              %br
              &mdash;Car positioning, distance of safety
              %br
              &mdash;Anticipation and evasion, reaction on aggressors’ acts procedures of removal
            %p
              %b Shooting:
              %br
              &mdash; Manipulation of different hand arms and long arms that are used in a protective purpose, presentation and usage of many models (intensive shooting)
              %br
              &mdash;Usage of firearms protection, ammunition, personnel security equipment
              %br
              &mdash;World legislation on the matter
              %br
              &mdash;Disassembling and reassembling, arm cleaning
              %br
              &mdash;Maneuvering with arms on advance configuration and making operative scenarios
              %br
              &mdash;Shooting in specific conditions (darkness,, departure of a car)
              %br
              &mdash;Armed protection solo or in pairs, techniques of fighting preparation
            %p
              %a{:onClick => "return toggleMe('cRU1')", :href => "#cRU"} Hide
              
              .spacer