- @title = " | Services"
- @subtitle = ""
- @body_class = "three"

- @sub0 = ["Services", "/services"]
- @sub1 = ["in France", "#France"]
- @sub2 = ["in Russia", "#Russia"]
- @sub3 = ["PSD & COHESION", "#PSD"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
%script{:src => "javascripts/expandCollapse.js", :type => "text/javascript"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}



.body
  .center
    .content
      #three.sidebar
        .subnav
          %h1=@sub0[0]
          .link
            %h5 
            %p
              %a{:href => @sub1[1]}
                =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => @sub2[1]}
                =@sub2[0]
          .link
            %h5 
            %p
              %a{:href => @sub3[1]}
                =@sub3[0]
        .text
          %h1 Contact Us
          %p
            %img.flag{:src => "/images/flag_usa.jpg", :alt => "United States Flag"}
            %b In the US
            %br
            TEL: + 1 (713) 778 0790
            %br
            HOTLINE: + 1 (713) 213 4601
            %br
            MOBILE: +1 (713) 213 4601
            %br
            FAX: + 1 (832) 705 3435
            %br
            EMAIL:
            %a{:href => "mailto:office.us@ifs2i.com"} office.us@ifs2i.com
          %p
            7322 Southwest Freeway
            %br
            Tower Arena One Suite 1970
            %br
            Houston TX, 77074 - USA

      #three.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p In the personnel security area, a real situation reveals the exigency to resort to the help of professionals.
            %p During some years we work with French trainers of the highest competence. Everyone of them stands the selective recruitment test that is based on multiple interrogation criteria (trainer's patronage, significant life experience and references in the military and civil sphere, probationary work period,).
            %p All French trainers rise the level of their skills at our training center in Russia to guarantee the maximum of training course for our students.
              
            %h4 Our Methods
            %p The pedagogics methods proven by our bodyguard trainers, are made up of the theory and practice on the road alternation and at the different public or private places, and also of the candidate permanent evaluation by means the motivation and trust delegation support.
            %p We consider that the quality training is very important to gain the basic competence, and from this time all the work branches of the personnel Bodyguard acquire a stainless professionalism.
            
            %a{:name => "cFR"}
            %h4 Bodyguard Training Courses
            %p 
              Click each to expand details.
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cFR1')"} Level 1
              (3 weeks)
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cFR2')"} Level 2
              (5 weeks)
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cFR3')"} Level 3
              (long term course)
          .section.no-image#cFR1{:style => "display:none"}
            %h1 Bodyguard Training Course &ndash; Level 1
            %h4 Introduction
            %p
              %b Objective:
              This training course pursues an object to perfect skills or initiate a person (man or woman) having a good reference and wanting to work as a Security Agent or Bodyguard. Delivery of the professional certificate Bodyguard "SIA Card".
            %p
              %b Pre-conditions:
              The training course is open for all comers of the full legal age on conditions extracted from the bylaws:
              %br
              &mdash; Medical certificate of aptitude for sports of combat
              %br
              &mdash; Have no previous convictions
              %br
              &mdash; Valid driver license
            %p 
              %b Dates:
              04 July to 29 July, 2011
            %p
              %b Location:
              Paris, FRANCE
            %p
              %b Price:
              &euro;3110
              %br
              Payment facilities, possibilities of financial assumption, 40 hours per week.
            %p
              %b Duration:
              4 weeks (140 hours)
            
            %h4 Program Details
            %p
              %b Protection of Personalities:
              %br
              &mdash; Analysis of terrorist operative mode, study of methods and riposte
              %br
              &mdash; Reminding of functions and duties of a bodyguard
              %br
              &mdash; Organizing a protective mission, an escort, a search and removal of ambiguous situations
              %br
              &mdash; Elaboration of an itinerary
              %br
              &mdash; Getting into and out of car
              %br
              &mdash; Waiting inside a covered parking or indoors
            %p  
              %b Infighting Techniques:
              %br
              &mdash; Preparation and physical and mental conditioning
              %br
              &mdash; Conflict regulation and disengagement procedures
              %br
              &mdash; Techniques of a hand to hand combat that are used during a personal protection
            %p
              %b Security Driving and Escorts:
              %br
              &mdash; Stress control in the situation of anti-aggression driving, special techniques and disengagement (all cars are prepared and equipped with special outfit and helmets)
              %br
              &mdash; Functions of opening cars and escort (cars/cycles)
              %br
              &mdash; Escort on the road, reflex of security and motorcade driving
              %br
              &mdash; Positioning of a car, distance of safety
            %p
              %b Shooting:
              %br
              &mdash; Manipulation of different hand arms that are used in a protective purpose, presentation and usage of many models
              %br
              &mdash; Usage of firearms protection, ammunition, personnel security equipment
              %br
              &mdash; Disassembling and reassembling, arm cleaning
              %br
              &mdash; Armed protection solo or in pair, techniques of fighting preparation.All the practical modules, gestures taught during the training course, are always repeated to master them
            %p
              %a{:onClick => "return toggleMe('cFR1')", :href => "#cFR"} Hide
          

          .section.no-image#cFR2{:style => "display:none"}
            %h1 Bodyguard Training Course &ndash; Level 2
            %h4 Introduction
            %p
              %b Objective:
              Initiation and skills improvement for any person (man or woman) of good morality wishing to follow with the Security Agent or Bodyguard Activity. Delivery of professional certification of Professional Bodyguard "SIA Card".
            %p
              %b Pre-conditions:
              The course is open to all kind of candidates under condition of presence of documents listed below:
              %br
              &mdash; Medical certificate with authorization to wrestling
              %br
              &mdash; Medical certificate for deep-sea diving
              %br
              &mdash; Valid driver license
            %p 
              %b Dates:
              04 July to 05 August, 2011
            %p
              %b Location:
              Paris, FRANCE
            %p
              %b Price:
              &euro;4000 (meals NOT included)
              %br
              &euro;4550 (meals included)
              %br
              Payment facilities, possibilities of financial assumption, 40 hours per week.
            %p
              %b Duration:
              5 weeks (200 hours)
            
            %h4 Program Details
            %p
              %b Protection of Personalities:
              %br
              &mdash; Analysis of the situation in case of hostage, prevention methods and measure
              %br
              &mdash; Role and function of the bodyguard
              %br
              &mdash; Organization of a mission of protection of escort
              %br
              &mdash; Itinerary tracing
              %br
              &mdash; Getting into and out of car
              %br
              &mdash; Parking inside a covered car park or in confined space
              %br
              &mdash; Security of sites
            %p  
              %b Techniques of Wrestling:
              %br
              &mdash; Physical and mental preparation; reconditioning
              %br
              &mdash; Management of a conflict and procedures of release
              %br
              &mdash; Techniques of body to body fights used in protection of people
            %p
              %b Prevention and the Protection of the Nautical Installations
              %br
              &mdash; Diving and safety materials in use
              %br
              &mdash; Sea and its dangers
              %br
              &mdash; Medical intervention in case of accident
              %br
              &mdash; Principles, methods and techniques of inspection of the immersed structures, plunged on wrecks
              %br
              &mdash; Techniques of subaqueous rounds of safety
              %br
              &mdash; Initiation with the methods and the techniques of building work in order to be able to apply them under water
              %br
              &mdash; Detection, analyzes, and treatment of various anomalies
              %br
              &mdash; Possibilities of improvement skills for those who already work as professional diver
            %p 
              %b Control and Security Escorts:
              %br
              &mdash; Management of the stress in situation of anti-aggression control
              %br
              &mdash; Roles of the vehicles openers and followers (cars/motor bikes)
              %br
              &mdash; Escort on road, reflex of safety and control in convoy
              %br
              &mdash; To equip a vehicle for a mission (rolled, category of shielding, means of communication, crew bodyguards, etc.)
              %br
              &mdash; Placement of a vehicle, security distances
            %p
              %b Shooting:
              %br
              &mdash; Handling of various handguns used in protection, presentation and use of several models
              %br
              &mdash; Ballistic protection used, individual ammunition
              %br
              &mdash; Disassembling and reassembling, maintenance of a weapon
              %br
              &mdash; Evolution with weapon in advanced configuration and operational scenarios
              %br
              &mdash; The armed protection in solo or binomial, techniques of reclad practiced in protection
            %p
              %a{:onClick => "return toggleMe('cFR2')", :href => "#cFR"} Hide
              
          .section.no-image#cFR3{:style => "display:none"}
            %h1 Bodyguard Training Course &ndash; Level 3
            %h4 Introduction
            %p
              %b Objective:
              This training course pursues an object to perfect skills or initiate a person (man or woman) having a good reference and wanting to work as a Security Agent or Bodyguard. Delivery of the professional certificate of Bodyguard "SIA Card".
            %p
              %b Pre-conditions:
              The training course is open for all comers of the full legal age on conditions extracted from the bylaws:
              %br
              &mdash; Medical certificate of aptitude for sports of combat
              %br
              &mdash; Have no previous convictions
              %br
              &mdash; Valid driver license
            %p 
              %b Dates:
              04 July to 19 August, 2011.
            %p
              %b Location:
              Paris, FRANCE
            %p
              %b Price:
              &euro;5810
              %br
              Payment facilities, possibilities of financial assumption, 40 hours per week, certificates delivery at the end of the training course (Bodyguard "SIA Card," Private Service Driver (CPA 1), Security Diver Level 1)
            %p
              %b Duration:
              7 weeks (280 hours)
            
            %h4 Program Details
            %p
              %b Protection of Personalities:
              %br
              &mdash; Analysis of terrorist operative mode, study of methods and riposte
              %br
              &mdash; Reminding of functions and duties of a bodyguard
              %br
              &mdash; Organizing a protective mission, an escort, a search and removal of ambiguous situations
              %br
              &mdash; Elaboration of an itinerary
              %br
              &mdash; Getting into and out of a car
              %br
              &mdash; Waiting inside a covered parking or indoors
              %br
              &mdash; Security of sites
            %p  
              %b Infighting Techniques:
              %br
              &mdash; Preparation and physical and mental conditioning
              %br
              &mdash; Conflict regulation and disengagement procedures
              %br
              &mdash; Techniques of a hand to hand combat that are used during a personal protection
            %p  
              %b Navigation Installations Protection and Threat Prevention:
              %br
              &mdash; Usage of diving and security material
              %br
              &mdash; Sea and its risks (area, subversive acts, piracy)
              %br
              &mdash; Medical urgent help in case of a diving accident
              %br
              &mdash; Principles, methods and techniques of a submerged structures inspection, shipwreck diving
              %br
              &mdash; Techniques of an underwater security patrol
              %br
              &mdash; Initialization in the construction work's methods and techniques to be able to apply them under water
              %br
              &mdash; Detection, analysis and elimination of different anomalies
              %br
              &mdash; Possibilities for diving professionals to master their skills
              %br
              &mdash; Night diving and realization of the hull inspection
            %p
              %b Preparation of a Personal Protection Mission:
              %br
              &mdash; Administrative authorizations from the local authorized instances
              %br
              &mdash; Creation of a protective team
              %br
              &mdash; Work contract, declarations relative to the profession of a Bodyguard, theoretic approach to the social law
            %p 
              %b Security Driving and Escorts (CPA 1):
              %br
              &mdash; Stress control in the situation of anti-aggression driving, techniques and disengagement (all cars are prepared and equipped with special outfit and helmets)
              %br
              &mdash; Functions of opening cars and escort (cars/cycles)
              %br
              &mdash; Escort on the road, reflex of security and motorcade driving
              %br
              &mdash; Car preparation for executing the mission (fueling, armoring category, communication, bodyguard's equipment)
              %br
              &mdash; Position of a car, distance of safety
              %br
              &mdash; Checking of received knowledge and the delivery of the certificate Private Security Driver
            %p
              %b Shooting:
              %br
              &mdash; Manipulation of different hand arms that are used in a protective purpose, presentation and usage of many models
              %br
              &mdash; Usage of firearms protection, ammunition, personnel security equipment
              %br
              &mdash; Disassembling and reassembling, arm cleaning 
              %br
              &mdash; Maneuvering with arms on advanced configuration and making operative scenarios
              %br
              &mdash; Armed protection solo or in pair, techniques of fighting preparation
            %p
              %a{:onClick => "return toggleMe('cFR3')", :href => "#cFR"} Hide









              
          .spacer
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p Russia is known all over the world due to its strong tradition in the security sector. In this way, the public security omnipresent culture was formed in Russia. This particular experience is a key to our specific idea of fight against aggressors.
            %p 
              %b Now IFS2I CONSULTING is the one French company that spreads Private Defense training courses in the Russian Federation.
            %p The training courses of Security Agent and Bodyguards in hostile environment or Target removal are the courses of a high professional level, full of activities and very exigent to the physical and mental work; the purpose is to put our students in the stress situation that usually happen during the personnel protective mission in hot war places.
            
            %h4 Our Analysis
            %p With the enlargement of the European Union to the east, Russia becomes the very neighbor of this Union of 25 and constitute our pace of reference, the one where is built our common future.
            %p Getting nearer from the geographical point of view, Russia grows closer by its general political and economical evolution. From the disappearance of the Soviet Union at the end of the 1991, this country has known a real breakthrough that has contributed to its international and economical image. In parallel Russia become progressively the part of the union of the world economical institutions. Omni potential member of G7 of State Majors from the Evian summit it begins its negotiations of its adhesion of the World Commerce organization.
            %p Difficult Country, economics in transition, culture of security presented everywhere, Russia did not leave indifferent IFS2I CONSULTING one day in May of 2006.
            
            %h4 Our Spetznaz Experience
            %p Our center was created on the URSS time to form there different intervention structures of the ex-URSS (KGB, MVD, OMON, GROUP ALFA, etc.). Now our center is included in the most important base of Russian Privet Special Forces training; at the same time we receive the Special Forces structures from China, Israel, and the United States.
            %p The spreading training courses can be thematic or made up by our trainers to correspond exactly with your needs or your professional project. The protective mission preparation is done in individual or team way.
            %p Every year about 70-90 competent Security Agents take our courses to accomplish missions of property and people protection in hostile environment (Eastern Europe, Africa, the Middle East, and Southeast Asia).

            %a{:name => "cRU"}
            %h4 Bodyguard Training Courses
            %p 
              Click each to expand details.
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cRU1')"} Bodyguards in Hostile Zones
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cRU2')"} Intensive Bodyguards
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cRU3')"} Security Driving
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cRU4')"} Mine Clearing
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cRU5')"} Female Bodyguard Training
          .section.no-image#cRU1{:style => "display:none"}
            %h1 Bodyguards in Hostile Zones
            %h4 Introduction
            %p
              %b Objective:
              This PSD training course pursues an object to perfect skills or initiate a person wanting to work as a Security Agent or Bodyguard (Contractor) in hostile or semi-hostile environment on the international level. Protection of Property and People in a hot war places (Iraq, Afghanistan, Africa), Private Military Contractors.
            %p
              %b Pre-conditions:
              The training course is open to all comers (men or women) on conditions extracted from the bylaws:
              %br
              &mdash; Be aged more than 18 years old
              %br
              &mdash; Medical certificate of aptitude for diving activity
              %br
              &mdash; Medical certificate of aptitude for parachuting sport
              %br
              &mdash; 2 recent photos
              %br
              &mdash; Valid passport
            %p 
              %b Dates:
              From 1st to 30th June 2011
            %p
              %b Location:
              Moscow, RUSSIA &amp; Almaty, KAZAKHSTAN
            %p
              %b Price:
              &euro;5610 (Travel from France, accommodation, food, assurances, arms, materials, visits, outfit included in the price)
              %br
              To confirm your place 30% deposit is required.
            
            %h4 Program Details
            %p
              &mdash; English speaking trainers (Spetsnaz, Group Alfa, FSB)
              %br
              &mdash; "VIP" visit of Moscow within the last day of the training course
            
            %h4 Moscow Program (2 weeks)
            %p
              %b Protection in a Zone of Risk:
              %br
              &mdash; Analysis of terrorist operative mode
              %br
              &mdash; Reminding of functions and duties of a bodyguard
              %br
              &mdash; Organizing a protective mission, an escort, a search and removal of ambiguous situations
              %br
              &mdash; Elaboration of an itinerary
              %br
              &mdash; Getting into and out of car
              %br
              &mdash; Artisanal or Homemade Explosive Engines, mine clearing and indoors dangers removal techniques, procedures
              %br
              &mdash; Citizen and target removal (removal in a hostile or semi-hostile zone)
              %br
              &mdash; Security of sites and motorcades in a zone of hot war
              %br
              &mdash; Study of terrorist methods and riposte
            %p  
              %b Underwater Protection:
              %br
              &mdash; Regulation of the Security Diver profession
              %br
              &mdash; Usage of diving and security material
              %br
              &mdash; Sea and its risks (area, subversive acts, piracy)
              %br
              &mdash; Principles, methods and techniques of an submerged structures inspection
              %br
              &mdash; Techniques of underwater security patrol
              %br
              &mdash; Detection, analysis and elimination of different anomalies
            %p
              %b Prevention of Risk:
              %br
              &mdash; Description of a threat, typology of aggressors and aggressions
              %br
              &mdash; Mode of terrorist aggression
              %br
              &mdash; Car, hotel, conference hall check-up
              %br
              &mdash; Procedures and techniques of indoors dangers removal
              %br
              &mdash; Different electronic and video surveillance security systems
              %br
              &mdash; Procedures of the first help in a hostile environment, cardiac massage, evacuation, transportation
              %br
              &mdash; Self control and a behavioral autonomy in a stress situation
              %br
              &mdash; 800 meters parachuting jumping in a automatic way
              %br
              &mdash; Harmonious team-work, techniques and procedures of relationship holding in different escorts
              %br
              &mdash; Communicating exercises, negotiations
              %br
              &mdash; Decision-making and crisis settlement in the situation of stress
              %br
              &mdash; Development of the briefing and debriefing of the mission
            %p
              %b Infighting Techniques:
              %br
              &mdash; Initiation and improvement of a hand to hand combat, disengagement
              %br
              &mdash; Skills in knife and other arms handling
              %br
              &mdash; Capture and neutralization (SPETZNATZ techniques)
              
            %h4 Almaty Program (2 weeks)
            %p
              %b Tactical Driving &amp; Escort:
              %br
              &mdash; Control of stress situations, techniques and disengagement
              %br
              &mdash; Functions of opening cars and escort (cars/cycles)
              %br
              &mdash; Escort on the road, reflex of security and motorcade driving
              %br
              &mdash; Car preparation for executing the mission (fuelling, armoring category, communication, Bodyguard equipment, etc.)
              %br
              &mdash; Classification of armoring categories and its weak points
              %br
              &mdash; Car positioning, distance of safety
              %br
              &mdash; Anticipation and evasion, reaction on aggressors' acts procedures of removal
            %p
              %b Shooting:
              %br
              &mdash; Manipulation of different hand arms and long arms that are used in a protective purpose, presentation and usage of many models (intensive shooting)
              %br
              &mdash; Usage of firearms protection, ammunition, personnel security equipment
              %br
              &mdash; World legislation on the matter
              %br
              &mdash; Disassembling and reassembling, arm cleaning
              %br
              &mdash; Maneuvering with arms on advance configuration and making operative scenarios
              %br
              &mdash; Shooting in specific conditions (darkness,, departure of a car)
              %br
              &mdash; Armed protection solo or in pairs, techniques of fighting preparation
            %p
              %a{:onClick => "return toggleMe('cRU1')", :href => "#cRU"} Hide

          .section.no-image#cRU2{:style => "display:none"}
            %h1 Intensive Bodyguards
            %h4 Introduction
            %p
              %b Objective:
              This PSD training course pursues an object to perfect skills or initiate a person wanting to work as a Security Agent or Bodyguard (Contractor) in hostile or semi-hostile environment on the international level. Protection of Property and People in a hot war places (Iraq, Afghanistan, Africa), Private Military Contractors.
            %p
              %b Pre-conditions:
              The training course is open to all comers (men or women) on conditions extracted from the bylaws:
              %br
              &mdash; Be aged more than 18 years old
              %br
              &mdash; Medical certificate of aptitude for diving activity
              %br
              &mdash; Medical certificate of aptitude for parachuting sport
              %br
              &mdash; 2 recent photos
              %br
              &mdash; Valid passport
            %p 
              %b Dates:
              From 2nd to 9th June 2011
            %p
              %b Location:
              Moscow, RUSSIA
            %p
              %b Price:
              &euro;1800 (7 consecutive days without travel)
              %br
              &euro;1800 (14 consecutive days)
              %br
              To confirm your place 30% deposit is required.
            
            %h4 Program Details
            %p
              &mdash; English speaking trainers (Spetsnaz, Group Alfa, FSB)
              %br
              &mdash; "VIP" visit of Moscow within the last day of the training course
            
            %p
              %b Protection in a Zone of Risk:
              %br
              &mdash; Analysis of terrorist operative mode
              %br
              &mdash; Reminding of functions and duties of a bodyguard
              %br
              &mdash; Organizing a protective mission, an escort, a search and removal of ambiguous situations
              %br
              &mdash; Elaboration of an itinerary
              %br
              &mdash; Getting into and out of car
              %br
              &mdash; Artisanal or Homemade Explosive Engines, mine clearing and indoors dangers removal techniques, procedures
              %br
              &mdash; Citizen and target removal (removal in a hostile or semi-hostile zone)
              %br
              &mdash; Security of sites and motorcades in a zone of hot war
              %br
              &mdash; Study of terrorist methods and riposte
            %p  
              %b Underwater Protection:
              %br
              &mdash; Regulation of the Security Diver profession
              %br
              &mdash; Usage of diving and security material
              %br
              &mdash; Sea and its risks (area, subversive acts, piracy)
              %br
              &mdash; Principles, methods and techniques of an submerged structures inspection
              %br
              &mdash; Techniques of underwater security patrol
              %br
              &mdash; Paying attention to the questions of health and safety at work and training as well as procedures of emergency, security diving
            %p
              %b Prevention of Risk:
              %br
              &mdash; Description of a threat, typology of aggressors and aggressions
              %br
              &mdash; Mode of terrorist aggression
              %br
              &mdash; Car, hotel, conference hall check-up
              %br
              &mdash; Procedures of the first help in a hostile environment, cardiac massage, evacuation, transportation
              %br
              &mdash; Self control and a behavioral autonomy in a stress situation
            %p
              %b Infighting Techniques:
              %br
              &mdash; Initiation and improvement of a hand to hand combat, disengagement
              %br
              &mdash; Skills in knife and other arms handling
              %br
              &mdash; Capture and neutralization (SPETZNATZ techniques)
            %p
              %b Tactical Driving &amp; Escort:
              %br
              &mdash; Control of stress situations, techniques and disengagement
              %br
              &mdash; Functions of opening cars and escort (cars/cycles)
              %br
              &mdash; Escort on the road, reflex of security and motorcade driving
              %br
              &mdash; Car preparation for executing the mission (fuelling, armoring category, communication, Bodyguard equipment, etc.)
              %br
              &mdash; Classification of armoring categories and its weak points
              %br
              &mdash; Car positioning, distance of safety
            %p
              %b Shooting:
              %br
              &mdash; Manipulation of different hand arms and long arms that are used in a protective purpose, presentation and usage of many models (intensive shooting)
              %br
              &mdash; Usage of firearms protection, ammunition, personnel security equipment
              %br
              &mdash; World legislation on the matter
              %br
              &mdash; Disassembling and reassembling, arm cleaning
              %br
              &mdash; Maneuvering with arms on advance configuration and making operative scenarios
              %br
              &mdash; Shooting in specific conditions (darkness,, departure of a car)
              %br
              &mdash; Armed protection solo or in pairs, techniques of fighting preparation
            %p
              %a{:onClick => "return toggleMe('cRU2')", :href => "#cRU"} Hide              

          .section.no-image#cRU3{:style => "display:none"}
            %h1 Security Driving
            %h4 Introduction
            %p
              %b Objective:
              Skill perfection or initialization of a person (beginner or experienced) wishing to work as a Road Security Driver in France or abroad.
            %p
              %b Pre-conditions:
              The training course is open to all comers (men or women) on conditions extracted from the bylaws:
              %br
              &mdash; Be aged more than 20 years old
              %br
              &mdash; Valid driver license
              %br
              &mdash; 2 recent photos
              %br
              &mdash; Valid passport
            %p 
              %b Dates:
              From 17th to 29th June 2011
            %p
              %b Location:
              Almaty, KAZAKHSTAN
            %p
              %b Price:
              &euro;2300
              %br
              To confirm your place &euro;300 deposit is required.
            
            %h4 Program Details
            %p
              &mdash; English speaking trainers (Spetsnaz, Group Alfa, FSB)
              %br
              &mdash; "VIP" visit of Moscow within the last day of the training course
              %br
              &mdash; Discount travel (contact us for details)
            
            %p
              %b Training Course &amp; Conditioning:
              %br
              &mdash; Physical conditioning and daily oxygenation
              %br
              &mdash; Basics of an escort
              %br
              &mdash; Knowledge of a mechanical science
              %br
              &mdash; Taking over automatic or hand transmission
              %br
              &mdash; Security driving, disengagement
              %br
              &mdash; Disengagement, functions and usage of an escort (cycle, following cars)
              %br
              &mdash; Procedure of an emergency getting in a car
              %br
              &mdash; Escort preparation, work with local authorized instances, motorization choice
              %br
              &mdash; Itinerary and topographic science
              %br
              &mdash; Presentation, usage and taking over different materials, equipment that are used during the mission
              %br
              &mdash; Check-up and search for a car, maintenance
              %br
              &mdash; Procedures of the first emergency help, cardiac massage, evacuation, transportation
              %br
              &mdash; Self-control and a behavioral autonomy in a real situation
              %br
              &mdash; Development of the briefing and debriefing of the mission
              %br
              &mdash; Relations and procedures with multiple escorts and authorized instances
            %p  
              %b Real Conditioning of the Security Driving:
              %br
              &mdash; Application of the skills acquired during the training course
              %br
              &mdash; Preparation of an escort mission, responsibility upon one or several authorized instances
              %br
              &mdash; Management of different anomalies
              %br
              &mdash; Validation of the skills got in the presence of a local authorized instance
            %p
              %b Shooting (Supplemental Unit):
              %br
              &mdash; Manipulation of different hand arms and long arms that are used in a protective purpose
              %br
              &mdash; Presentation and usage of many models (intensive shooting)
              %br
              &mdash; Usage of firearms protection, ammunition, personnel security equipment
              %br
              &mdash; Disassembling and reassembling, arm cleaning
              %br
              &mdash; Maneuvering with arms on advance configuration and making operative scenarios
              %br
              &mdash; Armed protection solo or in pair, techniques of fighting preparation
            %p
              %a{:onClick => "return toggleMe('cRU3')", :href => "#cRU"} Hide              

          .section.no-image#cRU4{:style => "display:none"}
            %h1 Mine Clearing
            %h4 Introduction
            %p
              %b Objective:
              Skill perfection or initialization of a person (beginner or experienced) wishing to work in the mine clearing and booby trap's removal area at human units, at Non-Government Organizations, or in the context of personal protective missions.
            %p
              %b Pre-conditions:
              The training course is open to all comers (men or women) on conditions extracted from the bylaws
            %p 
              %b Dates:
              From 21st to 27th June 2011
            %p
              %b Location:
              RUSSIA
            %p
              %b Price:
              &euro;1800
              %br
              To confirm your place &euro;300 deposit is required.

            %h4 Program Details
            %p
              &mdash; English speaking trainers (Spetsnaz, Group Alfa)
              %br
              &mdash; "VIP" visit of Moscow within the last day of the training course
              %br
              &mdash; Discount travel (contact us for details)
            %p
              %b Contact us for further program details.
            %p
              %a{:onClick => "return toggleMe('cRU4')", :href => "#cRU"} Hide              

          .section.no-image#cRU5{:style => "display:none"}
            %h1 Female Bodyguard Training
            %h4 Introduction
            %p
              %b Objective:
              The training course is oriented to women wishing to work as professional Bodyguards.

            %p This unique training course corresponds with the needs and the actual demands of Female Bodyguards either in France or on the international level. This qualification begins spreading in Russia to take advantage not only of educational infrastructures that don't have any prototype in France, but of the perfect repute of our training school at the Bodyguarding Sphere too.
            %p
              %b Pre-conditions:
              The training course is open for women on conditions extracted from the bylaws:
              %br
              &mdash; Be aged 20-40 years old
              %br
              &mdash; Be more than 165cm in height
              %br
              &mdash; Medical certificate of aptitude for sports of combat
              %br
              &mdash; 2 recent photos
              %br
              &mdash; Valid passport
            %p 
              %b Dates:
              From 1st to 20th November 2011
            %p
              %b Location:
              Almaty, KAZAKHSTAN
            %p
              %b Price:
              &euro;1800 (7 consecutive days)
              %br
              &euro;4960 (1 month)
              %br
              To confirm your place &euro;300 deposit is required.
            
            %h4 Program Details
            %p
              &mdash; English speaking trainers (Spetsnaz, MVD)
              %br
              &mdash; "VIP" visit of Moscow within the last day of the training course
              %br
              &mdash; Discount travel (contact us for details)
            
            %p
              %b Principles and Techniques of Bodyguarding:
              %br
              &mdash; General notions of the Bodyguard in the world
              %br
              &mdash; Basics of an escort
              %br
              &mdash; Maritime security and navigation installations protection
            %p  
              %b Training Course Conditioning:
              %br
              &mdash; English, Arabian, and Russian terminology at usage (technical and basic speaking language)
              %br
              &mdash; Functions and duties of the Bodyguard in the world, legislative aspects of work
              %br
              &mdash; Theoretical organization of a protective mission, work with local authorized instances
              %br
              &mdash; Communication systems that are used during a mission (telephony, radios, informational devices, OACI codes, electronic warfare)
              %br
              &mdash; Self-defense techniques, TCR (infighting techniques) and intensive usage of this knowledge in protective purposes
              %br
              &mdash; Taking-over different materials used in a protective purpose (arms, firearms protection, ammunition, holsters, etc.)
            %p
              %b VIP Protection:
              %br
              &mdash; Analysis of terrorist operative mode
              %br
              &mdash; Reminding of functions and duties of a bodyguard
              %br
              &mdash; Organizing a protective mission, an escort, a search and removal of ambiguous situations
              %br
              &mdash; Elaboration of an itinerary
              %br
              &mdash; Getting into and out of car
              %br
              &mdash; Artisan or Homemade Explosive Engines, mine clearing and indoors booby trap's removal techniques, procedures
            %p
              %b Adapted Behaviorism and Medical Training:
              %br
              &mdash; Analysis of terrorist operative mode
              %br
              &mdash; Adapted procedures of the first aid and emergency, cardiac massage, evacuation, transportation
              %br
              &mdash; Psychology adapted for childhood
              %br
              &mdash; Childhood environment and child's psychology
              %br
              &mdash; Family conflicts
              %br
              &mdash; Behavior of an experienced and good-manner person (nutrition and gastronomy, cuisine and service of the table, standard rules of behavior, dressing code)
            %p
              %b Prevention of Risk:
              %br
              &mdash; Analysis of terrorist operative mode
              %br
              &mdash; Description of a threat, typology of aggressors and aggressions
              %br
              &mdash; Mode of terrorist aggression
              %br
              &mdash; Check-up and search for a car, a hotel room, a conference hall
              %br
              &mdash; Different electronic and video surveillance security systems
              %br
              &mdash; Self-control and a behavioral autonomy in a real situation, 800 meters parachuting jumping
              %br
              &mdash; Communicating exercises, negotiations, decision-making and crisis settlement in a stressed situation
            %p
              %b Security Driving &amp; Escort:
              %br
              &mdash; Analysis of terrorist operative mode
              %br
              &mdash; Functions of opening cars and escort (cars/cycles)
              %br
              &mdash; Escort on the road, reflex of security and motorcade driving
              %br
              &mdash; Position of a car, distance of safety
              %br
              &mdash; Anticipation and evasion, reaction on aggressors' acts procedures of removal
            %p
              %b Shooting:
              %br
              &mdash; Analysis of terrorist operative mode
              %br
              &mdash; Manipulation of different hand arms and long arms that are used in a protective purpose, presentation and usage of many models (intensive shooting)
              %br
              &mdash; Usage of firearms protection, ammunition, personnel security equipment
              %br
              &mdash; Disassembling and reassembling, arm cleaning
              %br
              &mdash; Maneuvering with arms on advance configuration and making operative scenarios
            %p
              %a{:onClick => "return toggleMe('cRU5')", :href => "#cRU"} Hide              










              .spacer
          %a{:name => @sub3[1]}
          .section.no-image
            %h1=@sub3[0]
            %p Our PSD, COHESION and TRAINING courses are the Private Defense tasks of a high professional level, dynamic, full of energy and very exigent in a physical and mental plan. The objective is to put candidates in a stress conditions that would be identical to those that they will affront in missions of protection or private defense. IFS2I CONSULTING spreads only the training courses and the protection service according to the legal norms, laws and agreements in force. IFS2I CONSULTING would not damage the interests of France directly or indirectly and reserves a right to refuse to every person who does not meet the case of the required moral reference.

            %a{:name => "cPSD"}
            %h4 PSD &amp; COHESION Training Courses
            %p 
              Click each to expand details.
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cPSD1')"} Survival Spetznaz Course
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cPSD2')"} Raid Baikal
              %br
              &mdash;
              %a{:onClick => "return toggleMe('cPSD3')"} Cold Survival in Russia

          .section.no-image#cPSD1{:style => "display:none"}
            %h1 Survival Spetznaz Course
            %h4 Introduction
            %p
              %b Objectives:
              %br
              &mdash; Gain the techniques of extreme survival and military strategy that are used by the Spetsnatz commandos at hot war places (Chechnya, Afghanistan, the Middle-East).
              %br
              &mdash; Develop personal military qualities and a physical and psychological conditions keeping in mind missions at hot war places.
            %p
              %b Pre-conditions:
              Training course is open to all comers on conditions extracted from the bylaws:
              %br
              &mdash; Be aged more than 20 years old
              %br
              &mdash; Medical certificate of aptitude for sports of combat
              %br
              &mdash; Medical certificate of aptitude for diving activity
              %br
              &mdash; Medical certificate of aptitude for parachuting sport
              %br
              &mdash; 2 recent photos
              %br
              &mdash; Valid passport
            %p 
              %b Dates:
              From 1st to 11th June 2011
            %p
              %b Price:
              &euro;3500
            
            %h4 Program Details
            %p In 2009, IFS2I organized the Survival Spetznaz Course. This course is very prestigious in Russia and intended for the elite of Russian special forces (Group Alfa, Omon, MVD, FSB, etc.).
            %p Candidates are put into the Spetznaz commandos unit during 10 days and 10 nights. Only people who finish the course obtain the official certificate of completion.
            %p
              %a{:onClick => "return toggleMe('cPSD1')", :href => "#cPSD"} Hide     

          .section.no-image#cPSD2{:style => "display:none"}
            %h1 Raid Baikal
            %h4 Introduction
            %p
              %b Baikal...
              %br
              The Baikal lake is the place of superlatives: the deepest of the world, the oldest, the clearest, the purest, the largest biodiversity and the grossest volume (20% of the total) of sweet water of the world. From all reasons, the Baikal lake is a part of the world inheritance of Unesco.

            %p It is particularly interesting to see the Baikal lake. If you travel with the Trans-Siberian. The train stops at Irkutsk from there you would be able to make an excursion on the lakeside. The experience from this adventure will be unique of this kind. We offer you to discover the under ice diving at the Baikal lake with the travel "Adventure".
            %p
              %b Geography:
              %br
              Baikal is the biggest lake of Eurasia and the deepest of the world (1, 620 meters). The lake is the most impressive phenomenon of nature, Baikal is as big that all rivers of the world need a year to full it. Only a few people are able to understand, that the lake is located in a very beautiful region. In winter the lake becomes frozen and the ice is so thick and strong that the Trans-Siberian can cross it. In summer its crystal clear water is transparent to 40 meters deep and the lakesides are adorned with the season colors. Voyages that are usually organized within a warm season are the best way to discover the lake through walks in forests, parks, and naturals reserves.
            %p
              %b Climate:
              %br
              The Siberian winter is very cold. However the lake collects energy during the summer what influences a winter temperature. The lake is frozen in winter. At some north places it thaws out only in May. Usually in summer tourists have a stop at the lakeside. From year to year number of tourists increases with the people who would like to discover the Siberian winter and to see the transparence of the lake under ice.
            %p
              %b Pre-conditions:
              The only condition for taking part in the Raid Baikal: wish to surpass oneself physically, have an interest for one of the most beautiful lakes of the world, and wish to leave your daily stress at Roissy-Charles de Gaulle Airport.
            %p ...But at the same time, you have to carry your National Certificate for Diving (level 1 minimum) and to have the tourist visa delivered by the Russian Federation consulate (contact us). The stay is limited to 10 raiders.
            %p 
              %b Dates:
              TBD
            %p
              %b Price:
              &euro;2100
            
            %h4 Program Details
            %p 
              %b Day 1:
              %br
              This day permits us to recreate after the voyage and the time disparity, and permits us also to plunge into the best physical conditions as possible. Usually the Baikal lake is frozen to the beginning of May. Temporarily the lake becomes a road, a navigable land connecting small villages and its northern and meridional outskirts. The road passes by the Baikal lakeside. You can get out of a car and walk on the ice to appreciate its thickness (75cm ice thickness are enough to hold 15 tons). The voyage time is almost one hour. 
            %p In the afternoon we visit the museum of the Baikal lake which fill in on the Baikal origin and its wild time. The movie gives you an opportunity to see the deepest point of the lake (1,637m) since the submarine creation. In the Listvyanka village different kinds of fish are sold: grayling, fresh, frozen, smoked or salted fish. Multiple cafs and restaurants offer you to taste the Siberian or traditional European food. You are offered also to taste pelmeny (stuffed rolls), pirozhki, sandwiches with caviar to appreciate the Siberian spirit.
            %p 
              %b Days 2-5:
              %br
              The diving under ice with the material that is given from our part: protective facial mask and waterproof gloves (water does not reach you), defroster Beuchat VX 10 and VX 200 (to move safely under water, not to be drenched and frozen). We provide for 2 dives in a day.
            %p 
              %b Day 6:
              %br
              Return to Moscow for visiting the historical center of the city, different commercial centers, the Kremlin palace, the Red square, etc.
            %p 
              %b Besides the diving:
              %br
              &mdash; Hiking / Voyage
              %br
              &mdash;Safari photos
              %br
              &mdash;Discovery of the Siberian shamanism
              %br
              &mdash;Adventures and winter activities (fishing, motor-snow, etc.)
            %p
              %a{:onClick => "return toggleMe('cPSD2')", :href => "#cPSD"} Hide              

          .section.no-image#cPSD3{:style => "display:none"}
            %h1 Cold Survival in Russia
            %h4 Introduction
            %p This course is meant for Human Search Unit that are responsible to collect information at depth, the civil or commercial aviation personnel who can be placed in survival conditions, but also for security professionals who want to master self-control abilities and the vital autonomy management in a extreme situation.
            %p
              %b Concerned public:
              Human Search Unit, commercial aviation personnel, or every person who would like to learn how to control the stress and the vital autonomy in a survival situation. Be of the French nationality.
            
            %p
              %b Objectives:
              %br
              &mdash; Gain the techniques of survival at highlands, in hard frost conditions by putting a student for a long time to a hostile milieu for making good use of their equipment and poor natural resources.
              %br
              &mdash; This course of a high professional level and of high physical and mental exigency, has as its object to train students for the survival techniques of the combat in a mountain hard frost conditions. The students are transported by the Russian helicopter to the training base where they spend 10 days of an enriching training.
            %p
              %b Pre-conditions:
              Excellent physical and psychologic condition. In spite of the exigency of such kind of training course, it must be recommended to candidates to be in excellent physical condition.
            %p 
              %b Dates:
              TBD
            %p
              %b Price:
              &euro;3100
            %p
              %a{:onClick => "return toggleMe('cPSD3')", :href => "#cPSD"} Hide    
              
              
          .spacer          
         
