- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

%link{:href => "stylesheets/body-1.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#one.image-slider
  .center
    #slider-wrapper
      #slider.nivoSlider
        %img{:alt => "", :src => "/images/nivo/banner-1-1.jpg", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-2.jpg", :title => "#caption2"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-6.jpg", :title => "#caption3"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-4.jpg", :title => "#caption4"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-8.jpg", :title => "#caption5"}/
      #caption1.nivo-html-caption
        .captionContainer
          %h1 Learn from the Best
          %h3 Our exceptional experience will benefit your safety
      #caption2.nivo-html-caption
        .captionContainer
          %h1 Close Protection Training
          %h3 PSD and Bodyguard Training in USA, France, Russia and Kazakhstan
      #caption3.nivo-html-caption
        .captionContainer
          %h1
            Electronic Security and CCTV
          %h3 Intrusion alarms, video surveillance, monitoring, access control, fire protection and much more
      #caption4.nivo-html-caption
        .captionContainer
          %h1 Ground and Maritime Support
          %h3 Protecting your marine transportation, port security, providing armed guards to transport your valuable goods on water on a ground
      #caption5.nivo-html-caption
        .captionContainer
          %h1 Security Consulting and Assistance
          %h3 Protecting you staff overseas, geolocation of you staff and your vehicles and staff training according to specific situations

.body
  .center
    .content
      #one.textbox
        %p How secure are your facilities? How well equipped is your onsite security team to handle today's biggest security threats? Are your defenses the right defenses for the risks you face? These are but a few of the many questions companies of all sizes should be asking. 

        %p IFS2I Security Consulting helps companies with all aspects of security from providing guard services and conducting risk assessments to conducting security training courses and providing business intelligence and security assessments for international expansions.

        %p We are a part of a leading international security organization committed to helping our clients with custom security solutions. Whether you're an individual considering a career as a security professional or an enterprise organization with extensive security challenges to overcome, we offer courses and custom services to match.

        %p
          Explore our website and
          %a{:href => "/contact"}contact us
          to learn more.
        
      #one.lolb
        %a.container{:href => "/security"}
          %h1 Security Consulting
          %p.link Discover  >
      #one.lilb
        %a.container{:href => "/guard"}
          %h1
            Bodyguard
            %br
            &amp; Guard
            %br
            Services
          %p.link Learn More  >
      #one.rilb
        %a.container{:href => "/electronic"}
          %h1
            Electronic
            %br
            Security
          %p.link Get Started  >
      #one.rolb
        %a.container{:href => "/training"}
          %h1
            Security
            %br
            Training
          %p.link Get Started  >