- @title = " | Security Training"
- @subtitle = ""
- @body_class = "three"

- @sub0 = ["Security Training", "/training"]
- @sub1 = ["sss", "sss"]
- @sub2 = ["sss", "sss"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-4.jpg"}



.body
  .center
    .content
      #three.sidebar
        / .subnav
        /   %h1=@sub0[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub1[1]}
        /         =@sub1[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub2[1]}
        /         =@sub2[0]
        .text
          %h1 Contact Us
          %p
            TEL: + 1 (713) 778 0790
            %br
            HOTLINE: + 1 (713) 213 4601
            %br
            MOBILE: +1 (713) 213 4601
            %br
            FAX: + 1 (832) 705 3435
            %br
            EMAIL:
            %a{:href => "mailto:contact@ifs2i.com"} contact@ifs2i.com
          %p
            7322 Southwest Freeway
            %br
            Arena Tower One, Suite 1970
            %br
            Houston TX, 77074 - USA

      #three.main
        .content
          %a{:name => @sub0[1]}
          .section.no-image
            %h1=@sub0[0]
            %p IFS2I Security Consulting is a unique company offering numerous programs of bodyguard training and executive protection training to fit all of our students needs. Each of our courses is made for specific segment of a population seeking to enter the security industry. We train selected applicants to the highest possible commercial level with the most experienced trainers available. IFS2I is a unique institution as one of the few private schools in the country that offers courses for our students through out the world.  It conducts its trainings abroad in France, Spain, Russia, Kazakhstan, Middle East and Western Africa as well as in United States&mdash;in Houston, TX.  All of our courses are held in different languages according to different wishes of a group. 
            %p We believe that there is no standard training program that could possibly fit every client need. Following that ideology we develop every course individually to meet our clients' demanding specifications. The flexibility of our instructor's staff and training programs means that each client will benefit from custom training event. All of our training programs can be provided anywhere suitable facilities are available.  Keeping this in mind we can bring our course to you if you cannot use our facility. 
            
