- @title = " | Security Training"
- @subtitle = ""
- @body_class = "four"

- @sub0 = ["Security Training", "/training"]
- @sub1 = ["sss", "sss"]
- @sub2 = ["sss", "sss"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-4.jpg"}



.body
  .center
    .content
      #three.sidebar.right
        .text
          %h1 Contact Us
          %p
            %sub HOTLINE
            %br
            (713) 778 0790
            %br
            %sub MOBILE
            %br
            (713) 302 5121
            %br
            %sub FAX
            %br
            (713) 588 2722
            %br
            %sub EMAIL
            %br
            %a{:href => "mailto:contact@ifs2i.com"} contact@ifs2i.com
          %p
            7322 Southwest Freeway
            %br
            Arena Tower One, Suite 1970
            %br
            Houston TX, 77074 - USA

      #three.main
        .content
          %a{:name => @sub0[1]}
          .section.no-image
            %h1=@sub0[0]
            %p IFS2I Security Consulting offers custom security training programs for companies seeking a stronger security team as well as a variety of bodyguard and executive training courses. With numerous courses available along with custom training options, we have courses covering virtually any security situation you may encounter. 

            %p 
              %b Our Security Training Instructors
            %p Our courses are taught by an elite team of experienced security professionals with impressive credentials. Our high standards ensure that you're learning from an expert who knows both theory and "real world" security tactics. 

            %p 
              %b Thinking of Entering the Security Industry?
            %p Each of our courses has been developed for specific population segments seeking to enter the security industry. We train selected applicants to the highest possible commercial level with the most experienced trainers available. We are one of the few private schools in the country that offers courses to students throughout the world. We conduct security training sessions in France, Spain, Russia, Kazakhstan, the Middle East, and Western Africa as well as in the United States at our Houston, Texas facility. We conduct our courses in the languages specified by our attendees.

            %p 
              %b Custom Security Training Solutions
            %p We believe that standard training programs cannot possibly fit every client need. Following that ideology, we develop each course to our clients' demanding specifications. We are committed to providing individual and flexible training solutions for custom training events that meet your specific needs. 

            %p In fact, we can conduct our training programs virtually anywhere, as long as suitable facilities are available. We can bring our security training program to you for your convenience.
            