- @title = " | About Us"
- @subtitle = ""
- @body_class = "two"

- @sub0 = ["About Us", "/about"]
- @sub1 = ["in Africa", "Africa"]
- @sub2 = ["in Russia", "Russia"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-2.jpg"}



.body
  .center
    .content
      #two.sidebar
        .text
          %h1 Contact Us
          %p
            %img.flag{:src => "/images/flag_usa.jpg", :alt => "United States Flag"}
            %b In the US
            %br
            TEL: + 1 (713) 778 0790
            %br
            HOTLINE: + 1 (713) 213 4601
            %br
            MOBILE: +1 (713) 213 4601
            %br
            FAX: + 1 (832) 705 3435
            %br
            EMAIL:
            %a{:href => "mailto:office.us@ifs2i.com"} office.us@ifs2i.com
          %p
            7322 Southwest Freeway
            %br
            Arena Tower One, Suite 1970
            %br
            Houston TX, 77074 - USA
    

      #two.main
        .content
          %a{:name => @sub0[1]}
          .section.no-image
            %h1=@sub0[0]
            %p IFS2I Security Consulting LLC is a US branch of the IFS2I Consulting&mdash;the European leader in the field of security, prevention and risk management.
            %p Created in 2000 by two founders with 20 years of combined experience in French Military forces, IFS2I Security Consulting today is a leader in prevention and management of risk in continental Europe and a steady security partner of a big number of companies all over the world. 
            %p IFS2I Security Consulting LLC is a security and military assistance company providing different security services to guarantee its clients a complex approach to satisfy all their security needs. Our training department offers numerous close protection training, bodyguard trainings and other security oriented courses to companies and individuals. That allows us to guarantee a really well trained staff for our security missions. 
            %p We offer professional solutions in different fields, protecting people, goods, industrial facilities, sites, residential sector and much more. 
            %p We help our clients to take the best outcome of their business by taking care of their security and their business protection.
            %p Today we proudly present over 480 employees in more than 20 countries, operation area of over 80 countries, 19 representation offices all over the world including UK, Spain, Italy, Iraq, Algeria, Nigeria, Mexico, Venezuela, Colombia and Brazil, and a few hundreds of satisfied customers coming from all different industries.
            .youtube            
              %iframe{:frameborder => "0", :height => "349", :src => "http://www.dailymotion.com/embed/video/xanlo0?width=220&theme=slayer&foreground=%23AD1B1A&highlight=%23FFFFFF&background=%23000000", :width => "560"}
            
