- @title = " | About Us"
- @subtitle = ""
- @body_class = "two"

- @sub0 = ["About Us", "/about"]
- @sub1 = ["in Africa", "Africa"]
- @sub2 = ["in Russia", "Russia"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-2.jpg"}



.body
  .center
    .content
      #two.sidebar.right
        .text
          %h1 Contact Us
          %p
            %sub HOTLINE
            %br
            (713) 778 0790
            %br
            %sub MOBILE
            %br
            (713) 302 5121
            %br
            %sub FAX
            %br
            (713) 588 2722
            %br
            %sub EMAIL
            %br
            %a{:href => "mailto:contact@ifs2i.com"} contact@ifs2i.com
          %p
            7322 Southwest Freeway
            %br
            Arena Tower One, Suite 1970
            %br
            Houston TX, 77074 - USA
        .youtube-sm
          %iframe{:frameborder => "0", :height => "175", :src => "http://www.dailymotion.com/embed/video/xanlo0?width=220&theme=slayer&foreground=%23AD1B1A&highlight=%23FFFFFF&background=%23000000", :width => "270"}

      #two.main
        .content
          %a{:name => @sub0[1]}
          .section.no-image
            %h1=@sub0[0]
            %p IFS2I Security Consulting LLC is the U.S. branch of IFS2I Consulting, a proven European leader in security, prevention, and risk management. Founded in 2000, IFS2I Consulting harnessed the expertise of its founders' 20 years of combined experience in French Military forces to become a leader in the prevention and management of risk in continental Europe. Today, IFS2I Consulting serves as a distinguished security partner for companies all over the world.

            %p
              %b Security Expertise for Today's Insecure World
            %p In the United States, IFS2I Security Consulting LLC offers security and military assistance and a variety of professional security services to companies of all sizes as well as to individuals requiring personal protection. With international, military, and business security expertise, we're equipped to handle just about any challenge you may be facing ranging from perimeter security, fraud, counterfeiting, and terrorism concerns to crisis management and business continuity strategies.

            %p 
              %b Professional Security Solutions
            %p
              We offer professional security solutions tailored to the unique needs of different industries and companies. We are committed to helping our clients achieve the best possible outcome using a variety of approaches:
              %br
              &mdash;	Protecting people
              %br
              &mdash;	Protecting goods
              %br
              &mdash;	Protecting industrial facilities, sites, and residences
              %br
              &mdash;	Security training including close protection training and bodyguard training 
              %br
              &mdash; Security courses for companies and individuals

            %p Whether an IFS2I Security Consulting solution is simple or complex, we are committed to providing effective, well-executed security solutions and exceptionally trained staff for our security missions.

            %p Today, our team consists of over 480 employees in more than 20 countries. We operate in over 80 countries and maintain 19 representation offices all over the world including: United Kingdom, Spain, Italy, Iraq, Algeria, Nigeria, Mexico, Venezuela, Colombia and Brazil. Most importantly, IFS2I has successfully served hundreds of satisfied customers from all industries.

            %p Learn more about how we can solve your security challenges by contacting us today.
            
            
            
