- @title = " | Bodyguard Services"
- @subtitle = ""
- @body_class = "four"

- @sub0 = ["Bodyguard Services", "bodyguard"]
- @sub1 = ["Private Bodyguards", "private"]
- @sub2 = ["Audit & Analysis", "a&a"]
- @sub3 = ["Aircraft Protection", "air"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#four.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-4.jpg"}



.body
  .center
    .content
      #four.sidebar
        .subnav
          %h1=@sub0[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub1[1]}
                =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub2[1]}
                =@sub2[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub3[1]}
                =@sub3[0]
        .text
          %h1 Contact Us
          %p
            %sub EMAIL
            %br
            %a{:href => "mailto:contact@ifs2i.com"} contact@ifs2i.com
            %br
            %sub FAX
            %br
            +33 4 26 00 73 41
            %br
            %sub TEL
            %br
            +7 925 858 58 94 (Russia)      

      #four.main
        .content
          .section.no-image
            %p "...Military and civil experience that was proven by our Bodyguard agents in vulnerable zones and in hostile territories (South America, Middle East, Africa), allows now to propose in confidence escort services of high quality and stainless professionalism for our clients..."
            %p "...Every Bodyguard has stood the selective recruitment test that was based on multiple interrogation criteria (trainer’s patronage, significant life experience and references in the military and civil sphere, probationary work period, evaluation tests and periodic training inside our center)..."
            
          
          .spacer
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p Your Bodyguard in your daily life (Business travels, family protection, escort in hostile and vulnerable territories). IFS2I CONSULTING provides a competent security management that is worked out depending on special conditions of every our client, reflecting the volume and nature of its business, its functioning environmental conditions, its risk tolerance, and its existent management structures.
            %p
              %b IFS2I CONSULTING gives not only intelligent solutions that are relative to the security of our clients need, but the power of doing the business without any delay.

            %h4 Motorcade Protection
            %p Protection of vulnerable enterprises and motorcades (sensible infrastructures, humanitarian motorcades, transport of materials of a high importance, NGO).
            %p IFS2I CONSULTING provides the service to define threatening and fragility of the infrastructure, the existed security preparation and protection for putting up resistance to future menace, as well as the effective crises resolution.

            %h4 Service Driver
            %p IFS2I CONSULTING provides you vehicles during your movements (consult us for details).
            
            %h4 Removal and Analysis
            %p The IFS2I CONSULTING experts analyze, prepare and intervene according to the methodology that is proven by the multiple missions of target, family or citizen removal that are present on hostile and vulnerable territories.

            %h4 Our Prices
            %p
              Bodyguard Risk 5: $1500 per day
              %br
              Bodyguard Risk 4: $1000 per day
              %br
              Bodyguard Risk 3: $900 per day
              %br
              Bodyguard Risk 2: $750 per day
              %br
              Bodyguard Risk 1: $600 per day
              %br
              Driver of a High Security (Mercedes class E or equivalent): $1100
              %br
              Driver of a High Security (Mercedes class S or equivalent): $1500
              %br
              Security Agent Risk 1: $350
              %br
              Security Agent with a dog, Risk 1: $400
              %br
              Agent with a dog, PRO RISK (Explosive, drugs, dump): $700 

              
          .spacer
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p  IFS2I CONSULTING supports public and private clients in a strategy and planning elaboration of crisis management. We begin with examination of a strategy and a present organisation, with delivering judgment of its physical state for the purposes, and then we develop an appropriate structure and a process for crisis management implantation.
            %p Our perspective is strategical stepping over quickness, response obstacle and renewal of an organisation. In such a case, we elaborate detailed plans of an incident management of high importance and risk areas for our client.
              
          .spacer
          %a{:name => @sub3[1]}
          .section.no-image
            %h1=@sub3[0]
            %p After operations almost at all places of the world and demise at difficult territories, the operational service IFS2I CONSULTING is in position to intervene at any place and at any time not depending on mission difficulties.
            %p Thanks to the helicopter higher possibilities as for its rapidity, maneuverability, carrying capacity, efficacy and possibility of landing on inaccessible territories, we make see these utility and potential every day during different missions.
            %p
              %b All being officers and corporals from the French Air Army, our pilots have a rich experience at flying: 1000-1200 hours.

            %h4 Air Surveillance
            %p
              &mdash; Investigation and protection of claiming attention areas and sectors
              %br
              &mdash; Air protection
              %br
              &mdash; Protection of oil and mining fields
              %br
              &mdash; Keeping order
              %br
              &mdash; Fight against contraband, sea piracy, clandestine immigration
              %br
              &mdash; Natural disasters
            %p
              %b All our missions of air surveillance can be attended by the Special Forces on the board.

            %h4 Other Activities
            %p
              &mdash; Using of plane and helicopter air devices for emergency evacuation
              %br
              &mdash; Civil or military training in air navigation or maintenance
              %br
              &mdash; Air anti-drugging fight, prevention and fight against forest fire
              %br
              &mdash; Parachute jumping
              %br
              &mdash; Freight and passengers transport
              %br
              &mdash; Air control
              %br
              &mdash; Raising
              %br
              &mdash; Mission of helicopter video-surveillance, thermal way, borderland control
            
            %h4 Our Clients
            %p Governments, Administrations, Non-Government Organizations, Armed forces, Custom-house, Private Security services, Enterprise authorized instances.
            %h4 Our Partners
            %p Algeria, Burkina Faso, Cambodia, Ivory coast, Spain, France, Guyana, Mali, Morocco, Mauritania, Niger, Nigeria, Senegal, Chad, etc.
              
          .spacer