- @title = " | Services"
- @subtitle = " | Electronic Security &amp; Alarm Installation"
- @body_class = "three"

- @sub0 = ["Electronic Security", "/electronic"]
- @sub1 = ["sss", "sss"]
- @sub2 = ["sss", "sss"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3-3.jpg"}



.body
  .center
    .content
      #three.sidebar
        / .subnav
        /   %h1=@sub0[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub1[1]}
        /         =@sub1[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub2[1]}
        /         =@sub2[0]
        .text
          %h1 Contact Us
          %p
            %img.flag{:src => "/images/flag_usa.jpg", :alt => "United States Flag"}
            %b In the US
            %br
            TEL: + 1 (713) 778 0790
            %br
            HOTLINE: + 1 (713) 213 4601
            %br
            MOBILE: +1 (713) 213 4601
            %br
            FAX: + 1 (832) 705 3435
            %br
            EMAIL:
            %a{:href => "mailto:office.us@ifs2i.com"} office.us@ifs2i.com
          %p
            7322 Southwest Freeway
            %br
            Arena Tower One, Suite 1970
            %br
            Houston TX, 77074 - USA

      #three.main
        .content
          %a{:name => @sub0[1]}
          .section.no-image
            %h1=@sub0[0]
            %p Recent FBI reports state that burglary takes place approximately every 14 seconds. The best way to protect your family, your home and your business valuables is  a monitored home security system. Statistically, you are three times less likely to experience a burglary when you protect your home or place of business with a monitored security system. Monitored security systems can also save you up to 20% on your homeowners insurance!
            %p IFS2I Security Consulting is fully licensed and insured to operate in state of Texas. We offer a full range of electronic security services to customize your needs. IFS2I is committed to providing its customers the highest level of technical service and communication. In today's cost saving environment, many people who are taking charge of a facility's electronic security have little or no industry expenses. The experience of IFS2I gives the customer confidence to make an informed decision about design and utilization of the variety of security options. IFS2I also provides exemplary training and support in the use of already installed security equipment. 
            
