- @title = " | Services"
- @subtitle = ""
- @body_class = "three"

- @sub0 = ["Services", "/services"]
- @sub1 = ["Security Consulting", "/security"]
- @sub2 = ["Guard / Bodyguard", "/guard"]
- @sub3 = ["Electronic Security", "/electronic"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}



.body
  .center
    .content
      #three.sidebar.right
        .subnav
          %h1 Our Services
          .link
            %h5 
            %p
              %a{:href => @sub1[1]}
                =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => @sub2[1]}
                =@sub2[0]
          .link
            %h5 
            %p
              %a{:href => @sub3[1]}
                =@sub3[0]

      #three.main
        .content
          %a{:name => @sub0[1]}
          .section.no-image
            %h1=@sub0[0]
            %p 
              %b The IFS2I Security Consulting Difference
            %p
              As a U.S. security consulting firm backed by an international leader in security services, we have the expertise and resources to provide innovative solutions and comprehensive security services around the world including:
              %br
              &mdash;	Security Consulting 
              %br
              &mdash;	System Maintenance 
              %br
              &mdash;	Security Audits 
              %br
              &mdash;	Risk Analysis 
              %br
              &mdash;	Security Assistance 
              %br
              &mdash;	Escort 
              %br
              &mdash;	Bodyguards 
              %br
              &mdash;	Guard Services 
              %br
              &mdash;	Security Training
              %br
              &mdash;	Electronic security systems
              %br
              &mdash;	Surveillance 

            %p Whether you need expert advice about a home or business alarm installation, video monitoring, a professional guard for your industrial complex, a security driver, a bodyguard, or security training, IFS2I creates custom security solutions and delivers the ultimate in protection and peace of mind. 

            %p Serving as a security partner, we work with individuals and companies alike. All solutions are carefully crafted to the unique needs of each client for the best possible outcome. We are focused on serving the needs of our clients around the globe and creating an outstanding security experience.

            %p
              %b Our Work
            %p We're proud of our track record. Thus far, we have supervised and trained over 2000 security agents, consultants, and instructors. We have managed security and training functions for companies of all sizes around the world. We have protected and supported individuals, companies, and institutions with a comprehensive range of safety and security solutions. We have protected people, facilities, goods, activities, information, and much more. We have also provided competitive intelligence, technical assistance, risk management, security assessments, and more. 

            %p Central to our work is our ability to help our clients understand their needs, vulnerabilities, and the threats and risks they face including political, terrorism, and security concerns. With this deep understanding, we then develop the best possible solution against economic crimes, fraud, counterfeiting, security breaches, and other sensitive areas. 

            %p
              Do you need help with security training, risks watch, security advice, guidance, operational maintenance, deployment and maintenance of operational systems, or logistic and crisis management? We offer all of the above&mdash;and more&mdash;and are committed to helping you achieve the best possible outcome.
              %a{:href => "/contat"}Contact us
              today.
            