- @title = " | Services"
- @subtitle = ""
- @body_class = "three"

- @sub0 = ["Security Consulting", "/security"]
- @sub1 = ["sss", "sss"]
- @sub2 = ["sss", "sss"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3-0.jpg"}



.body
  .center
    .content
      #three.sidebar
        / .subnav
        /   %h1=@sub0[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub1[1]}
        /         =@sub1[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub2[1]}
        /         =@sub2[0]
        .text
          %h1 Contact Us
          %p
            TEL: + 1 (713) 778 0790
            %br
            HOTLINE: + 1 (713) 213 4601
            %br
            MOBILE: +1 (713) 213 4601
            %br
            FAX: + 1 (832) 705 3435
            %br
            EMAIL:
            %a{:href => "mailto:contact@ifs2i.com"} contact@ifs2i.com
          %p
            7322 Southwest Freeway
            %br
            Arena Tower One, Suite 1970
            %br
            Houston TX, 77074 - USA

      #three.main
        .content
          %a{:name => @sub0[1]}
          .section.no-image
            %h1=@sub0[0]
            %p
              %b What makes us different?
              %br
              Our difference is the ability to provide our client with a whole range of security services. 
              %br
              We offer: 
              %br
              &mdash;	Security Consulting
              %br
              &mdash;	System Maintenance
              %br
              &mdash;	Security Audits
              %br
              &mdash;	Risk Analysis
              %br
              &mdash;	Security Assistance
              %br
              &mdash;	Escort
              %br
              &mdash;	Bodyguards
              %br
              &mdash;	Guard Services

            %p We can advice you on alarm installation as well as video monitoring, provide you with professional guard for your industrial platform or help you with a security driver. In a face of our company you will find a solution to all your security related needs for guaranteed full peace of mind. We will become you only partner in a field of security. 
            %p Our international experience helps us bring innovative solutions to the industry.


            %p Today IFS2I orients its activity on the development of creating outstanding security experience to answer all of our clients' needs all over the globe. We work with individual clients as well as with companies and we customize each project to achieve the best possible result. 


            %p
              %b Our Work:
              %br
              As of today we have supervised and trained over 2000 security agents, consultants and instructors as well as managing security and training functions. We protected and supported our clients&mdash;individuals, companies and institutions&mdash;with a comprehensive range of solutions in the area of safety and security. We work with people, goods, activities, information and much more. IFS2I provides competitive intelligence and technical assistance in risk area

            %p We help our clients to understand their needs and problems&mdash;political, security, terrorism&mdash;to develop the best possible solution against economic crimes, fraud, counterfeiting and other sensitive areas. We will help you to achieve the best outcome of your business.

            %p IFS2I offers training, risks watch, security advise, guidance, operational maintenance, deployment and maintenance of operational systems, logistic and crisis management.